In [1]:
import pandas as pd
import bokeh
from bokeh.plotting import figure, show, output_file 
from bokeh.models import HoverTool,CrosshairTool, Panel, Tabs
from bokeh.layouts import gridplot
from bokeh.models import Span
from bokeh.io import curdoc
from bokeh.models import Div, RangeSlider, FactorRange, Paragraph
from bokeh.layouts import layout
#file/notebook
output_file("SungaiJengkaMaran.html")
#output_notebook()

In [2]:
df = pd.read_csv(r"C:\Users\SAIFUL\Desktop\fyp codes\Data By Station Clean\Pah Sg. Jengka Maran Clean Water Level.csv",index_col=[0],parse_dates=['Date'])

In [3]:
df.dtypes

Date                    datetime64[ns]
Sg. Jengka Maran (m)           float64
dtype: object

In [4]:
#sorting value 
df = df.sort_values(['Date'], ascending=[True])

In [5]:
df.head()

          Date  Sg. Jengka Maran (m)
0   2016-01-01                 20.90
31  2016-01-02                 20.48
60  2016-01-03                 20.13
91  2016-01-04                 20.03
121 2016-01-05                 20.30

In [6]:
df.tail()

           Date  Sg. Jengka Maran (m)
1822 2020-12-27                 25.12
1823 2020-12-28                 24.96
1824 2020-12-29                 23.19
1825 2020-12-30                 23.19
1826 2020-12-31                 23.19

In [7]:
df['Sg. Jengka Maran (m)'].mean()

21.381364296081316

In [8]:
#sorting from 2019 
WaterLevelIn2020 = df[(df['Date'] >= '2020-01-01') & (df['Date'] <= '2020-12-31')]
WaterLevelIn2019 = df[(df['Date'] >= '2019-01-01') & (df['Date'] <= '2019-12-31')]
WaterLevelIn2018 = df[(df['Date'] >= '2018-01-01') & (df['Date'] <= '2018-12-31')]

In [9]:
#set new index for prediction comparison
NewWaterLevelIn2020=WaterLevelIn2018
NewWaterLevelIn2020.insert(0, 'New_ID', range(1, 1 + len(NewWaterLevelIn2020)))
NewWaterLevelIn2020.head()

     New_ID       Date  Sg. Jengka Maran (m)
731       1 2018-01-01                 23.83
762       2 2018-01-02                 23.83
790       3 2018-01-03                 20.66
821       4 2018-01-04                 20.62
851       5 2018-01-05                 20.48

In [10]:
#load prediction dataset
import pickle
#to load the prediction model
with open (r'C:\Users\SAIFUL\Desktop\fyp codes\Prediction Model New\WLP Sg. Jengka, Maran. Pahang', 'rb') as f:
  WaterLevelPrediction = pickle.load(f)

In [11]:
WaterLevelPrediction

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2016-01-01,20.008033,18.666252,22.245360,20.008033,20.008033,0.531749,0.531749,0.531749,0.006694,0.006694,0.006694,0.525055,0.525055,0.525055,0.0,0.0,0.0,20.539781
1,2016-01-02,20.011588,18.760298,22.325740,20.011588,20.011588,0.522205,0.522205,0.522205,-0.004602,-0.004602,-0.004602,0.526807,0.526807,0.526807,0.0,0.0,0.0,20.533793
2,2016-01-03,20.015142,18.739813,22.335287,20.015142,20.015142,0.547035,0.547035,0.547035,0.015262,0.015262,0.015262,0.531772,0.531772,0.531772,0.0,0.0,0.0,20.562177
3,2016-01-04,20.018697,18.695897,22.419024,20.018697,20.018697,0.509743,0.509743,0.509743,-0.030728,-0.030728,-0.030728,0.540470,0.540470,0.540470,0.0,0.0,0.0,20.528439
4,2016-01-05,20.022251,18.822264,22.505194,20.022251,20.022251,0.609050,0.609050,0.609050,0.055732,0.055732,0.055732,0.553318,0.553318,0.553318,0.0,0.0,0.0,20.631301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2833,2024-12-26,25.996588,18.829443,33.631923,18.500037,32.965292,0.513355,0.513355,0.513355,-0.029501,-0.029501,-0.029501,0.542856,0.542856,0.542856,0.0,0.0,0.0,26.509943
2834,2024-12-27,25.998985,18.348250,33.976084,18.495460,32.967882,0.545232,0.545232,0.545232,0.006694,0.006694,0.006694,0.538538,0.538538,0.538538,0.0,0.0,0.0,26.544217
2835,2024-12-28,26.001382,18.837808,33.811471,18.490882,32.970473,0.529304,0.529304,0.529304,-0.004602,-0.004602,-0.004602,0.533906,0.533906,0.533906,0.0,0.0,0.0,26.530686
2836,2024-12-29,26.003779,18.936426,33.418817,18.486305,32.973063,0.544907,0.544907,0.544907,0.015262,0.015262,0.015262,0.529644,0.529644,0.529644,0.0,0.0,0.0,26.548686
2837,2024-12-30,26.006176,18.780108,33.270592,18.481728,32.975609,0.495731,0.495731,0.495731,-0.030728,-0.030728,-0.030728,0.526459,0.526459,0.526459,0.0,0.0,0.0,26.501907

In [12]:
#sorting current year until future 
FutureWaterLevel = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]
FutureWaterLevel.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
1743,2022-01-01,23.383701,21.942084,26.049144,22.402310,24.456072,0.520963,0.520963,0.520963,-0.004602,-0.004602,-0.004602,0.525566,0.525566,0.525566,0.0,0.0,0.0,23.904665
1744,2022-01-02,23.386099,21.933077,26.098125,22.400311,24.465404,0.544116,0.544116,0.544116,0.015262,0.015262,0.015262,0.528853,0.528853,0.528853,0.0,0.0,0.0,23.930214
1745,2022-01-03,23.388496,21.838615,26.011521,22.398320,24.474737,0.504898,0.504898,0.504898,-0.030728,-0.030728,-0.030728,0.535626,0.535626,0.535626,0.0,0.0,0.0,23.893394
1746,2022-01-04,23.390893,21.899378,26.022856,22.396340,24.484070,0.602086,0.602086,0.602086,0.055732,0.055732,0.055732,0.546354,0.546354,0.546354,0.0,0.0,0.0,23.992979
1747,2022-01-05,23.393290,21.834830,26.056754,22.394360,24.493402,0.548538,0.548538,0.548538,-0.012858,-0.012858,-0.012858,0.561395,0.561395,0.561395,0.0,0.0,0.0,23.941828

In [13]:
FutureWaterLevel.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2833,2024-12-26,25.996588,18.829443,33.631923,18.500037,32.965292,0.513355,0.513355,0.513355,-0.029501,-0.029501,-0.029501,0.542856,0.542856,0.542856,0.0,0.0,0.0,26.509943
2834,2024-12-27,25.998985,18.348250,33.976084,18.495460,32.967882,0.545232,0.545232,0.545232,0.006694,0.006694,0.006694,0.538538,0.538538,0.538538,0.0,0.0,0.0,26.544217
2835,2024-12-28,26.001382,18.837808,33.811471,18.490882,32.970473,0.529304,0.529304,0.529304,-0.004602,-0.004602,-0.004602,0.533906,0.533906,0.533906,0.0,0.0,0.0,26.530686
2836,2024-12-29,26.003779,18.936426,33.418817,18.486305,32.973063,0.544907,0.544907,0.544907,0.015262,0.015262,0.015262,0.529644,0.529644,0.529644,0.0,0.0,0.0,26.548686
2837,2024-12-30,26.006176,18.780108,33.270592,18.481728,32.975609,0.495731,0.495731,0.495731,-0.030728,-0.030728,-0.030728,0.526459,0.526459,0.526459,0.0,0.0,0.0,26.501907

In [14]:
#sorting water level prediction by year

PredictionWaterLevelIn2022 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2022-12-31')]

PredictionWaterLevelIn2023 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2023-01-01') & (WaterLevelPrediction['ds'] <= '2023-12-31')]

PredictionWaterLevelIn2024 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2024-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]

In [15]:
#set new_id as index
PredictionWaterLevelIn2022.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2022)))
PredictionWaterLevelIn2022.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
1743,1,2022-01-01,23.383701,21.942084,26.049144,22.402310,24.456072,0.520963,0.520963,0.520963,-0.004602,-0.004602,-0.004602,0.525566,0.525566,0.525566,0.0,0.0,0.0,23.904665
1744,2,2022-01-02,23.386099,21.933077,26.098125,22.400311,24.465404,0.544116,0.544116,0.544116,0.015262,0.015262,0.015262,0.528853,0.528853,0.528853,0.0,0.0,0.0,23.930214
1745,3,2022-01-03,23.388496,21.838615,26.011521,22.398320,24.474737,0.504898,0.504898,0.504898,-0.030728,-0.030728,-0.030728,0.535626,0.535626,0.535626,0.0,0.0,0.0,23.893394
1746,4,2022-01-04,23.390893,21.899378,26.022856,22.396340,24.484070,0.602086,0.602086,0.602086,0.055732,0.055732,0.055732,0.546354,0.546354,0.546354,0.0,0.0,0.0,23.992979
1747,5,2022-01-05,23.393290,21.834830,26.056754,22.394360,24.493402,0.548538,0.548538,0.548538,-0.012858,-0.012858,-0.012858,0.561395,0.561395,0.561395,0.0,0.0,0.0,23.941828

In [16]:
#set new_id as index
PredictionWaterLevelIn2023.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2023)))
PredictionWaterLevelIn2023.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2108,1,2023-01-01,24.258659,21.521490,28.006504,21.471281,26.968981,0.540486,0.540486,0.540486,0.015262,0.015262,0.015262,0.525224,0.525224,0.525224,0.0,0.0,0.0,24.799145
2109,2,2023-01-02,24.261056,21.647833,27.795164,21.468685,26.975025,0.496998,0.496998,0.496998,-0.030728,-0.030728,-0.030728,0.527725,0.527725,0.527725,0.0,0.0,0.0,24.758054
2110,3,2023-01-03,24.263453,21.678054,28.138338,21.466089,26.981069,0.589310,0.589310,0.589310,0.055732,0.055732,0.055732,0.533579,0.533579,0.533579,0.0,0.0,0.0,24.852764
2111,4,2023-01-04,24.265850,21.457363,28.033789,21.463289,26.987113,0.530422,0.530422,0.530422,-0.012858,-0.012858,-0.012858,0.543279,0.543279,0.543279,0.0,0.0,0.0,24.796272
2112,5,2023-01-05,24.268247,21.429860,27.933938,21.459681,26.993157,0.527715,0.527715,0.527715,-0.029501,-0.029501,-0.029501,0.557216,0.557216,0.557216,0.0,0.0,0.0,24.795962

In [17]:
#set new_id as index
PredictionWaterLevelIn2024.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2024)))
PredictionWaterLevelIn2024.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2473,1,2024-01-01,25.133616,19.973558,30.331245,20.083305,29.836203,0.494327,0.494327,0.494327,-0.030728,-0.030728,-0.030728,0.525055,0.525055,0.525055,0.0,0.0,0.0,25.627944
2474,2,2024-01-02,25.136013,20.347227,30.673595,20.076130,29.844418,0.582539,0.582539,0.582539,0.055732,0.055732,0.055732,0.526807,0.526807,0.526807,0.0,0.0,0.0,25.718552
2475,3,2024-01-03,25.138410,20.346155,30.549481,20.068954,29.852634,0.518915,0.518915,0.518915,-0.012858,-0.012858,-0.012858,0.531772,0.531772,0.531772,0.0,0.0,0.0,25.657325
2476,4,2024-01-04,25.140808,20.041080,30.894327,20.061779,29.860849,0.510970,0.510970,0.510970,-0.029501,-0.029501,-0.029501,0.540470,0.540470,0.540470,0.0,0.0,0.0,25.651777
2477,5,2024-01-05,25.143205,20.469077,30.591451,20.054604,29.869065,0.560011,0.560011,0.560011,0.006694,0.006694,0.006694,0.553318,0.553318,0.553318,0.0,0.0,0.0,25.703216

In [18]:
#rename ds as Date
PredictionWaterLevelIn2022=PredictionWaterLevelIn2022.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2023=PredictionWaterLevelIn2023.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2024=PredictionWaterLevelIn2024.rename(columns={'ds': 'Date'})

In [19]:
PredictionWaterLevelIn2024.head()

,New_ID,Date,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2473,1,2024-01-01,25.133616,19.973558,30.331245,20.083305,29.836203,0.494327,0.494327,0.494327,-0.030728,-0.030728,-0.030728,0.525055,0.525055,0.525055,0.0,0.0,0.0,25.627944
2474,2,2024-01-02,25.136013,20.347227,30.673595,20.076130,29.844418,0.582539,0.582539,0.582539,0.055732,0.055732,0.055732,0.526807,0.526807,0.526807,0.0,0.0,0.0,25.718552
2475,3,2024-01-03,25.138410,20.346155,30.549481,20.068954,29.852634,0.518915,0.518915,0.518915,-0.012858,-0.012858,-0.012858,0.531772,0.531772,0.531772,0.0,0.0,0.0,25.657325
2476,4,2024-01-04,25.140808,20.041080,30.894327,20.061779,29.860849,0.510970,0.510970,0.510970,-0.029501,-0.029501,-0.029501,0.540470,0.540470,0.540470,0.0,0.0,0.0,25.651777
2477,5,2024-01-05,25.143205,20.469077,30.591451,20.054604,29.869065,0.560011,0.560011,0.560011,0.006694,0.006694,0.006694,0.553318,0.553318,0.553318,0.0,0.0,0.0,25.703216

In [20]:
df.dtypes

Date                    datetime64[ns]
Sg. Jengka Maran (m)           float64
dtype: object

In [21]:
#plotting from 2016 until 2020
#create and configure the figure
PlotAll = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
PlotAll.line('Date', 'Sg. Jengka Maran (m)',legend_label='Water Level',
               line_width=2,
              source=df)



# add hover tool
PlotAll.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Jengka Maran (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
PlotAll.title.text = "Water Level in Sungai Jengka, Maran From 2016 to 2020"

# style the headline
PlotAll.title.text_font_size = "15px"
PlotAll.title.align = "center"
PlotAll.title.text_color = "black"


#########################################plotting by year######################################################################
#create and configure the figure
plot2020 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2019 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2018 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
plot2020.line('Date', 'Sg. Jengka Maran (m)',legend_label='Water Level in 2020',line_width=2,source=WaterLevelIn2020)
#mean
plot2020.line('Date', df['Sg. Jengka Maran (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2020)

tab1 = Panel(child=plot2020, title="2020")

plot2019.line('Date', 'Sg. Jengka Maran (m)',legend_label='Water Level in 2019',line_width=2,source=WaterLevelIn2019)
#mean
plot2019.line('Date', df['Sg. Jengka Maran (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2019)

tab2 = Panel(child=plot2019, title="2019")

plot2018.line('Date', 'Sg. Jengka Maran (m)',legend_label='Water Level in 2018',line_width=2,source=WaterLevelIn2018)
#mean
plot2018.line('Date', df['Sg. Jengka Maran (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2018)

tab3 = Panel(child=plot2018, title="2018")


tabs = Tabs(tabs=[tab1,tab2,tab3])

# add hover tool
plot2020.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Jengka Maran (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

# add hover tool
plot2019.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Jengka Maran (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

# add hover tool
plot2018.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Jengka Maran (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
# style the headline
plot2020.title.text = "Water Level in Sungai Jengka, Maran in 2020"
plot2020.title.text_font_size = "15px"
plot2020.title.align = "center"
plot2020.title.text_color = "black"

# change headline text
# style the headline
plot2019.title.text = "Water Level in Sungai Jengka, Maran in 2019"
plot2019.title.text_font_size = "15px"
plot2019.title.align = "center"
plot2019.title.text_color = "black"

# change headline text
# style the headline
plot2018.title.text = "Water Level in Sungai Jengka, Maran in 2018"
plot2018.title.text_font_size = "15px"
plot2018.title.align = "center"
plot2018.title.text_color = "black"


########################################Bar chart min max#######################################################################

factors = [
    ("2016", "min"), ("2016", "max"),
    ("2017", "min"), ("2017", "max"), 
    ("2018", "min"), ("2018", "max"), 
    ("2019", "min"), ("2019", "max"), 
    ("2020", "min"), ("2020", "max"),

]

barMinMax = figure(x_range=FactorRange(*factors), plot_height=750, x_axis_label='Year', y_axis_label='Water Level (m)')

x = [ 19.92,24.57, #2016
     20.51,27.42,  #2017
     20.21,26.05,  #2018
     20.12,22.49,  #2019
    21.56,25.12]   #2020
barMinMax.vbar(x=factors, top=x, width=0.9)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [24.57, 27.42, 26.05, 22.49,25.12]
barMinMax.line(x=qs, y=aves, color="red", line_width=2,legend_label='Maximun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [19.92, 20.51, 20.21, 20.12,21.56]
barMinMax.line(x=qs, y=aves, color="blue", line_width=2,legend_label='Minimun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

barMinMax.y_range.start = 0
barMinMax.x_range.range_padding = 0.1
barMinMax.xaxis.major_label_orientation = 1
barMinMax.xgrid.grid_line_color = None

# add hover tool
barMinMax.add_tools(HoverTool(tooltips=[
           ('Sg. Jengka Maran (m)', '$y{(0.00)}'),   
            ]                       
         ))

# change headline text
# style the headline
barMinMax.title.text = "Minimun and Maximun Water Level in Sungai Jengka, Maran"
barMinMax.title.text_font_size = "15px"
barMinMax.title.align = "center"
barMinMax.title.text_color = "black"

#div text
div1 = Paragraph(text="")
######################################future water level######################################################################
PlotAllPrediction = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')

PlotAllPrediction.line('ds','yhat',legend_label='Future Water Level Until 2024', 
                    line_width=2, source= FutureWaterLevel)

# add hover tool
PlotAllPrediction.add_tools(HoverTool(tooltips=[('date', '@ds{%F}'),
            ('Sg. Jengka Maran (m)', '$y')],
          formatters={'@ds': 'datetime'}))


# change headline text
PlotAllPrediction.title.text = "Future Water Level until 2024"

# style the headline
PlotAllPrediction.title.text_font_size = "15px"
PlotAllPrediction.title.align = "center"
PlotAllPrediction.title.text_color = "black"


#div text

div = Div(text="<b>Model Prediction With 0.93% Error Rate</b>")

######################################compare prediction plotting##############################################################
multi_line_plot1 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot1.line('New_ID','yhat',legend_label='Water Level in 2022', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2022)

multi_line_plot1.line('New_ID','Sg. Jengka Maran (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2020)

tab4 = Panel(child=multi_line_plot1, title="2018 vs 2022")

# add hover tool
multi_line_plot1.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Jengka Maran (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot1.title.text = "Comparisson Water Level in 2018 with Future Water Level"

# style the headline
multi_line_plot1.title.text_font_size = "15px"
multi_line_plot1.title.align = "center"
multi_line_plot1.title.text_color = "black"

#########################################################2023

multi_line_plot2 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot2.line('New_ID','yhat',legend_label='Water Level in 2023', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2023)

multi_line_plot2.line('New_ID','Sg. Jengka Maran (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2020)

tab5 = Panel(child=multi_line_plot2, title="2018 vs 2023")

# add hover tool
multi_line_plot2.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Jengka Maran (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot2.title.text = "Comparisson Water Level in 2018 with Future Water Level"

# style the headline
multi_line_plot2.title.text_font_size = "15px"
multi_line_plot2.title.align = "center"
multi_line_plot2.title.text_color = "black"


#########################################################2024
multi_line_plot3 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot3.line('New_ID','yhat',legend_label='Water Level in 2024', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2024)

multi_line_plot3.line('New_ID','Sg. Jengka Maran (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2020)

tab6 = Panel(child=multi_line_plot3, title="2018 vs 2024")

# add hover tool
multi_line_plot3.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Jengka Maran (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot3.title.text = "Comparisson Water Level in 2018 with Future Water Level"

# style the headline
multi_line_plot3.title.text_font_size = "15px"
multi_line_plot3.title.align = "center"
multi_line_plot3.title.text_color = "black"


tabs2 = Tabs(tabs=[tab4,tab5,tab6],sizing_mode='stretch_both')

#############################################################crosshairtool########################################################
cross1 = CrosshairTool()
PlotAll.add_tools(cross1)

cross1 = CrosshairTool()
plot2020.add_tools(cross1)

cross1 = CrosshairTool()
plot2019.add_tools(cross1)

cross1 = CrosshairTool()
plot2018.add_tools(cross1)


cross1 = CrosshairTool()
PlotAllPrediction.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot1.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot2.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot3.add_tools(cross1)
#############################################################plot layout########################################################
# apply theme to current document
curdoc().theme = "light_minimal"
#p = gridplot(children = [[dabongFig], [plot2019,multi_line_plot]], sizing_mode = 'stretch_both')

l = layout([
  [PlotAll],
  [tabs],
  [div1],  
  [barMinMax],
  [div],
  [PlotAllPrediction],
  [tabs2],
], sizing_mode='stretch_both')

show(l)