In [1]:
import pandas as pd
import bokeh
from bokeh.plotting import figure, show, output_file 
from bokeh.models import HoverTool,CrosshairTool, Panel, Tabs
from bokeh.layouts import gridplot
from bokeh.models import Span
from bokeh.io import curdoc
from bokeh.models import Div, RangeSlider, FactorRange, Paragraph
from bokeh.layouts import layout
#file/notebook
output_file("SungaiGolokRantauPanjang.html")
#output_notebook()

In [2]:
df = pd.read_csv(r"C:\Users\SAIFUL\Desktop\fyp codes\Data By Station Clean\Kel Sg. Golok Clean Water Level.csv",index_col=[0],parse_dates=['Date'])

In [3]:
df.dtypes

Date             datetime64[ns]
Sg. Golok (m)           float64
dtype: object

In [4]:
#sorting value 
df = df.sort_values(['Date'], ascending=[True])

In [5]:
df.head()

          Date  Sg. Golok (m)
0   2016-01-01           5.45
31  2016-01-02           6.34
60  2016-01-03           4.88
91  2016-01-04           4.05
121 2016-01-05           3.85

In [6]:
df.tail()

           Date  Sg. Golok (m)
1822 2020-12-27           7.83
1823 2020-12-28           7.88
1824 2020-12-29           7.23
1825 2020-12-30           7.23
1826 2020-12-31           7.23

In [7]:
df['Sg. Golok (m)'].mean()

5.029276018099548

In [8]:
#sorting from 2020 2018 
WaterLevelIn2020 = df[(df['Date'] >= '2020-01-01') & (df['Date'] <= '2020-12-31')]
WaterLevelIn2019 = df[(df['Date'] >= '2019-01-01') & (df['Date'] <= '2019-12-31')]
WaterLevelIn2018 = df[(df['Date'] >= '2018-01-01') & (df['Date'] <= '2018-12-31')]

In [9]:
#set new index for prediction comparison
NewWaterLevelIn2020=WaterLevelIn2020
NewWaterLevelIn2020.head()

           Date  Sg. Golok (m)
1461 2020-01-01           5.13
1492 2020-01-02           3.61
1521 2020-01-03           3.73
1552 2020-01-04           3.20
1582 2020-01-05           3.28

In [10]:
NewWaterLevelIn2020.insert(0, 'New_ID', range(1, 1 + len(NewWaterLevelIn2020)))
NewWaterLevelIn2020.head()

      New_ID       Date  Sg. Golok (m)
1461       1 2020-01-01           5.13
1492       2 2020-01-02           3.61
1521       3 2020-01-03           3.73
1552       4 2020-01-04           3.20
1582       5 2020-01-05           3.28

In [11]:
#load prediction dataset
import pickle
#to load the prediction model
with open (r'C:\Users\SAIFUL\Desktop\fyp codes\Prediction Model New\WLP Sg. Golok, Rantau Panjang', 'rb') as f:
  WaterLevelPrediction = pickle.load(f)

In [12]:
WaterLevelPrediction

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2016-01-01,5.081916,3.522965,8.245851,5.081916,5.081916,0.868895,0.868895,0.868895,0.018564,0.018564,0.018564,0.850331,0.850331,0.850331,0.0,0.0,0.0,5.950811
1,2016-01-02,5.082598,3.535969,8.235982,5.082598,5.082598,0.751278,0.751278,0.751278,-0.003479,-0.003479,-0.003479,0.754757,0.754757,0.754757,0.0,0.0,0.0,5.833876
2,2016-01-03,5.083280,3.418017,8.208605,5.083280,5.083280,0.728830,0.728830,0.728830,0.063980,0.063980,0.063980,0.664850,0.664850,0.664850,0.0,0.0,0.0,5.812110
3,2016-01-04,5.083962,3.314677,8.061716,5.083962,5.083962,0.565794,0.565794,0.565794,-0.016669,-0.016669,-0.016669,0.582463,0.582463,0.582463,0.0,0.0,0.0,5.649756
4,2016-01-05,5.084644,3.170279,8.065388,5.084644,5.084644,0.500806,0.500806,0.500806,-0.008413,-0.008413,-0.008413,0.509219,0.509219,0.509219,0.0,0.0,0.0,5.585450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3223,2024-12-26,5.995354,4.340997,10.079186,4.641864,7.326914,1.350453,1.350453,1.350453,-0.010083,-0.010083,-0.010083,1.360535,1.360535,1.360535,0.0,0.0,0.0,7.345806
3224,2024-12-27,5.995987,4.525272,9.926879,4.640101,7.328942,1.289080,1.289080,1.289080,0.018564,0.018564,0.018564,1.270516,1.270516,1.270516,0.0,0.0,0.0,7.285067
3225,2024-12-28,5.996620,4.329375,10.178390,4.638338,7.330969,1.171247,1.171247,1.171247,-0.003479,-0.003479,-0.003479,1.174726,1.174726,1.174726,0.0,0.0,0.0,7.167867
3226,2024-12-29,5.997253,4.444191,9.769423,4.636575,7.332997,1.139337,1.139337,1.139337,0.063980,0.063980,0.063980,1.075357,1.075357,1.075357,0.0,0.0,0.0,7.136590
3227,2024-12-30,5.997887,4.279648,9.722411,4.634813,7.335024,0.957989,0.957989,0.957989,-0.016669,-0.016669,-0.016669,0.974658,0.974658,0.974658,0.0,0.0,0.0,6.955875

In [13]:
WaterLevelPrediction.dtypes

ds                            datetime64[ns]
trend                                float64
yhat_lower                           float64
yhat_upper                           float64
trend_lower                          float64
trend_upper                          float64
additive_terms                       float64
additive_terms_lower                 float64
additive_terms_upper                 float64
weekly                               float64
weekly_lower                         float64
weekly_upper                         float64
yearly                               float64
yearly_lower                         float64
yearly_upper                         float64
multiplicative_terms                 float64
multiplicative_terms_lower           float64
multiplicative_terms_upper           float64
yhat                                 float64
dtype: object

In [14]:
#sorting futere data from 2022 until 2024
FutureWaterLevel = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]
FutureWaterLevel.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2133,2022-01-01,5.305053,3.825541,8.649118,5.125295,5.515700,0.798480,0.798480,0.798480,-0.003479,-0.003479,-0.003479,0.801959,0.801959,0.801959,0.0,0.0,0.0,6.103532
2134,2022-01-02,5.305686,3.793789,8.582105,5.125271,5.517444,0.772954,0.772954,0.772954,0.063980,0.063980,0.063980,0.708974,0.708974,0.708974,0.0,0.0,0.0,6.078640
2135,2022-01-03,5.306319,3.634335,8.388634,5.125247,5.519188,0.605940,0.605940,0.605940,-0.016669,-0.016669,-0.016669,0.622609,0.622609,0.622609,0.0,0.0,0.0,5.912259
2136,2022-01-04,5.306952,3.311288,8.265659,5.125265,5.520928,0.536194,0.536194,0.536194,-0.008413,-0.008413,-0.008413,0.544607,0.544607,0.544607,0.0,0.0,0.0,5.843146
2137,2022-01-05,5.307586,3.219302,8.297090,5.125333,5.522657,0.432560,0.432560,0.432560,-0.043900,-0.043900,-0.043900,0.476460,0.476460,0.476460,0.0,0.0,0.0,5.740146

In [15]:
FutureWaterLevel.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
3223,2024-12-26,5.995354,4.340997,10.079186,4.641864,7.326914,1.350453,1.350453,1.350453,-0.010083,-0.010083,-0.010083,1.360535,1.360535,1.360535,0.0,0.0,0.0,7.345806
3224,2024-12-27,5.995987,4.525272,9.926879,4.640101,7.328942,1.289080,1.289080,1.289080,0.018564,0.018564,0.018564,1.270516,1.270516,1.270516,0.0,0.0,0.0,7.285067
3225,2024-12-28,5.996620,4.329375,10.178390,4.638338,7.330969,1.171247,1.171247,1.171247,-0.003479,-0.003479,-0.003479,1.174726,1.174726,1.174726,0.0,0.0,0.0,7.167867
3226,2024-12-29,5.997253,4.444191,9.769423,4.636575,7.332997,1.139337,1.139337,1.139337,0.063980,0.063980,0.063980,1.075357,1.075357,1.075357,0.0,0.0,0.0,7.136590
3227,2024-12-30,5.997887,4.279648,9.722411,4.634813,7.335024,0.957989,0.957989,0.957989,-0.016669,-0.016669,-0.016669,0.974658,0.974658,0.974658,0.0,0.0,0.0,6.955875

In [16]:
#sorting water level prediction by year

PredictionWaterLevelIn2022 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2022-12-31')]

PredictionWaterLevelIn2023 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2023-01-01') & (WaterLevelPrediction['ds'] <= '2023-12-31')]

PredictionWaterLevelIn2024 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2024-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]

In [17]:
#set new_id as index
PredictionWaterLevelIn2022.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2022)))
PredictionWaterLevelIn2022.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2133,1,2022-01-01,5.305053,3.825541,8.649118,5.125295,5.515700,0.798480,0.798480,0.798480,-0.003479,-0.003479,-0.003479,0.801959,0.801959,0.801959,0.0,0.0,0.0,6.103532
2134,2,2022-01-02,5.305686,3.793789,8.582105,5.125271,5.517444,0.772954,0.772954,0.772954,0.063980,0.063980,0.063980,0.708974,0.708974,0.708974,0.0,0.0,0.0,6.078640
2135,3,2022-01-03,5.306319,3.634335,8.388634,5.125247,5.519188,0.605940,0.605940,0.605940,-0.016669,-0.016669,-0.016669,0.622609,0.622609,0.622609,0.0,0.0,0.0,5.912259
2136,4,2022-01-04,5.306952,3.311288,8.265659,5.125265,5.520928,0.536194,0.536194,0.536194,-0.008413,-0.008413,-0.008413,0.544607,0.544607,0.544607,0.0,0.0,0.0,5.843146
2137,5,2022-01-05,5.307586,3.219302,8.297090,5.125333,5.522657,0.432560,0.432560,0.432560,-0.043900,-0.043900,-0.043900,0.476460,0.476460,0.476460,0.0,0.0,0.0,5.740146

In [18]:
#set new_id as index
PredictionWaterLevelIn2023.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2023)))
PredictionWaterLevelIn2023.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2498,1,2023-01-01,5.536208,3.922027,8.959394,5.045239,6.079418,0.889994,0.889994,0.889994,0.063980,0.063980,0.063980,0.826015,0.826015,0.826015,0.0,0.0,0.0,6.426203
2499,2,2023-01-02,5.536842,3.896456,8.530576,5.045255,6.081442,0.715004,0.715004,0.715004,-0.016669,-0.016669,-0.016669,0.731673,0.731673,0.731673,0.0,0.0,0.0,6.251845
2500,3,2023-01-03,5.537475,3.759855,8.570035,5.045271,6.083466,0.635068,0.635068,0.635068,-0.008413,-0.008413,-0.008413,0.643481,0.643481,0.643481,0.0,0.0,0.0,6.172543
2501,4,2023-01-04,5.538108,3.595895,8.455088,5.045287,6.085490,0.519338,0.519338,0.519338,-0.043900,-0.043900,-0.043900,0.563237,0.563237,0.563237,0.0,0.0,0.0,6.057446
2502,5,2023-01-05,5.538742,3.746810,8.406748,5.045302,6.087514,0.482419,0.482419,0.482419,-0.010083,-0.010083,-0.010083,0.492501,0.492501,0.492501,0.0,0.0,0.0,6.021160

In [19]:
#set new_id as index
PredictionWaterLevelIn2024.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2024)))
PredictionWaterLevelIn2024.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2863,1,2024-01-01,5.767364,3.979588,9.224464,4.864991,6.688391,0.833662,0.833662,0.833662,-0.016669,-0.016669,-0.016669,0.850331,0.850331,0.850331,0.0,0.0,0.0,6.601026
2864,2,2024-01-02,5.767998,3.929556,9.177581,4.864578,6.690350,0.746343,0.746343,0.746343,-0.008413,-0.008413,-0.008413,0.754757,0.754757,0.754757,0.0,0.0,0.0,6.514341
2865,3,2024-01-03,5.768631,3.761004,8.986095,4.864165,6.692309,0.620950,0.620950,0.620950,-0.043900,-0.043900,-0.043900,0.664850,0.664850,0.664850,0.0,0.0,0.0,6.389581
2866,4,2024-01-04,5.769264,3.724501,8.827623,4.863753,6.694268,0.572380,0.572380,0.572380,-0.010083,-0.010083,-0.010083,0.582463,0.582463,0.582463,0.0,0.0,0.0,6.341644
2867,5,2024-01-05,5.769897,3.660811,8.753252,4.863340,6.696228,0.527783,0.527783,0.527783,0.018564,0.018564,0.018564,0.509219,0.509219,0.509219,0.0,0.0,0.0,6.297680

In [20]:
#rename ds as Date
PredictionWaterLevelIn2022=PredictionWaterLevelIn2022.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2023=PredictionWaterLevelIn2023.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2024=PredictionWaterLevelIn2024.rename(columns={'ds': 'Date'})

In [21]:
PredictionWaterLevelIn2024.head()

,New_ID,Date,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2863,1,2024-01-01,5.767364,3.979588,9.224464,4.864991,6.688391,0.833662,0.833662,0.833662,-0.016669,-0.016669,-0.016669,0.850331,0.850331,0.850331,0.0,0.0,0.0,6.601026
2864,2,2024-01-02,5.767998,3.929556,9.177581,4.864578,6.690350,0.746343,0.746343,0.746343,-0.008413,-0.008413,-0.008413,0.754757,0.754757,0.754757,0.0,0.0,0.0,6.514341
2865,3,2024-01-03,5.768631,3.761004,8.986095,4.864165,6.692309,0.620950,0.620950,0.620950,-0.043900,-0.043900,-0.043900,0.664850,0.664850,0.664850,0.0,0.0,0.0,6.389581
2866,4,2024-01-04,5.769264,3.724501,8.827623,4.863753,6.694268,0.572380,0.572380,0.572380,-0.010083,-0.010083,-0.010083,0.582463,0.582463,0.582463,0.0,0.0,0.0,6.341644
2867,5,2024-01-05,5.769897,3.660811,8.753252,4.863340,6.696228,0.527783,0.527783,0.527783,0.018564,0.018564,0.018564,0.509219,0.509219,0.509219,0.0,0.0,0.0,6.297680

In [22]:
#plotting from 2016 until 2020
#create and configure the figure
PlotAll = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
PlotAll.line('Date', 'Sg. Golok (m)',legend_label='Water Level',
               line_width=2,
              source=df)



# add hover tool
PlotAll.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Golok (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
PlotAll.title.text = "Water Level in Sungai Golok, Rantau Panjang From 2016 to 2020"

# style the headline
PlotAll.title.text_font_size = "15px"
PlotAll.title.align = "center"
PlotAll.title.text_color = "black"


###########################################plotting by year#####################################################################
#create and configure the figure
plot2020 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2019 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2018 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
plot2020.line('Date', 'Sg. Golok (m)',legend_label='Water Level in 2020',line_width=2,source=WaterLevelIn2020)
#mean
plot2020.line('Date', df['Sg. Golok (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2020)


tab1 = Panel(child=plot2020, title="2020")

plot2019.line('Date', 'Sg. Golok (m)',legend_label='Water Level in 2019',line_width=2,source=WaterLevelIn2019)
#mean
plot2019.line('Date', df['Sg. Golok (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2019)

tab2 = Panel(child=plot2019, title="2019")

plot2018.line('Date', 'Sg. Golok (m)',legend_label='Water Level in 2018',line_width=2,source=WaterLevelIn2018)
#mean
plot2018.line('Date', df['Sg. Golok (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2018)

tab3 = Panel(child=plot2018, title="2018")

tabs = Tabs(tabs=[tab1,tab2,tab3])

# add hover tool
plot2020.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Golok (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2019.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Golok (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2018.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Golok (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

# change headline text
# style the headline
plot2020.title.text = "Water Level in Sungai Golok, Rantau Panjang in 2020"
plot2020.title.text_font_size = "15px"
plot2020.title.align = "center"
plot2020.title.text_color = "black"

# change headline text
# style the headline
plot2019.title.text = "Water Level in Sungai Golok, Rantau Panjang in 2019"
plot2019.title.text_font_size = "15px"
plot2019.title.align = "center"
plot2019.title.text_color = "black"

# change headline text
# style the headline
plot2018.title.text = "Water Level in Sungai Golok, Rantau Panjang in 2018"
plot2018.title.text_font_size = "15px"
plot2018.title.align = "center"
plot2018.title.text_color = "black"


########################################Bar chart min max#######################################################################

factors = [
    ("2016", "min"), ("2016", "max"),
    ("2017", "min"), ("2017", "max"), 
    ("2018", "min"), ("2018", "max"), 
    ("2019", "min"), ("2019", "max"), 
    ("2020", "min"), ("2020", "max"),

]

barMinMax = figure(x_range=FactorRange(*factors), plot_height=750, x_axis_label='Year', y_axis_label='Water Level (m)')

x = [ 3.81,8.99, #2016
     3.48,10.35,  #2017
     3.23,9.14,  #2018
     3.19,10.69,  #2019
    3.00,10.39]   #2020
barMinMax.vbar(x=factors, top=x, width=0.9)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [8.99,10.35, 9.14, 10.69,10.39]
barMinMax.line(x=qs, y=aves, color="red", line_width=2,legend_label='Maximun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [3.81, 3.48, 3.23, 3.19,3.00]
barMinMax.line(x=qs, y=aves, color="blue", line_width=2,legend_label='Minimun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

barMinMax.y_range.start = 0
barMinMax.x_range.range_padding = 0.1
barMinMax.xaxis.major_label_orientation = 1
barMinMax.xgrid.grid_line_color = None

# add hover tool
barMinMax.add_tools(HoverTool(tooltips=[
           ('Sg. Golok (m)', '$y{(0.00)}'),   
            ]                       
         ))

# change headline text
# style the headline
barMinMax.title.text = "Minimun and Maximun Water Level in Sungai Golok, Rantau Panjang"
barMinMax.title.text_font_size = "15px"
barMinMax.title.align = "center"
barMinMax.title.text_color = "black"

#div text
div1 = Paragraph(text="")

######################################future water level######################################################################
PlotAllPrediction = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')

PlotAllPrediction.line('ds','yhat',legend_label='Future Water Level Until 2024', 
                    line_width=2, source= FutureWaterLevel)

# add hover tool
PlotAllPrediction.add_tools(HoverTool(tooltips=[('date', '@ds{%F}'),
            ('Sg. Golok (m)', '$y')],
          formatters={'@ds': 'datetime'}))


# change headline text
PlotAllPrediction.title.text = "Future Water Level until 2024"

# style the headline
PlotAllPrediction.title.text_font_size = "15px"
PlotAllPrediction.title.align = "center"
PlotAllPrediction.title.text_color = "black"


#div text

div = Div(text="<b>Model Prediction With 1.24% Error Rate</b>")

######################################compare prediction plotting##############################################################
multi_line_plot1 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot1.line('New_ID','yhat',legend_label='Water Level in 2022', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2022)

multi_line_plot1.line('New_ID','Sg. Golok (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2020)

tab4 = Panel(child=multi_line_plot1, title="2020 vs 2022")

# add hover tool
multi_line_plot1.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Golok (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot1.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot1.title.text_font_size = "15px"
multi_line_plot1.title.align = "center"
multi_line_plot1.title.text_color = "black"

#########################################################2023

multi_line_plot2 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot2.line('New_ID','yhat',legend_label='Water Level in 2023', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2023)

multi_line_plot2.line('New_ID','Sg. Golok (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2020)

tab5 = Panel(child=multi_line_plot2, title="2020 vs 2023")

# add hover tool
multi_line_plot2.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Golok (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot2.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot2.title.text_font_size = "15px"
multi_line_plot2.title.align = "center"
multi_line_plot2.title.text_color = "black"


#########################################################2024
multi_line_plot3 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot3.line('New_ID','yhat',legend_label='Water Level in 2024', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2024)

multi_line_plot3.line('New_ID','Sg. Golok (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2020)

tab6 = Panel(child=multi_line_plot3, title="2020 vs 2024")

# add hover tool
multi_line_plot3.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Golok (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot3.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot3.title.text_font_size = "15px"
multi_line_plot3.title.align = "center"
multi_line_plot3.title.text_color = "black"


tabs2 = Tabs(tabs=[tab4,tab5,tab6],sizing_mode='stretch_both')


#############################################################crosshairtool####################################################
cross1 = CrosshairTool()
PlotAll.add_tools(cross1)

cross1 = CrosshairTool()
plot2020.add_tools(cross1)

cross1 = CrosshairTool()
plot2019.add_tools(cross1)

cross1 = CrosshairTool()
plot2018.add_tools(cross1)


cross1 = CrosshairTool()
PlotAllPrediction.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot1.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot2.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot3.add_tools(cross1)

#############################################################plot layout########################################################
# apply theme to current document
curdoc().theme = "light_minimal"
#p = gridplot(children = [[dabongFig], [plot2019,multi_line_plot]], sizing_mode = 'stretch_both')

l = layout([
   [PlotAll],
  [tabs],
  [div1],  
  [barMinMax],
  [div],
  [PlotAllPrediction],
  [tabs2],
], sizing_mode='stretch_both')

show(l)