In [26]:
import pandas as pd
import bokeh
from bokeh.plotting import figure, show, output_file
from bokeh.models import HoverTool, CrosshairTool
from bokeh.layouts import gridplot
from bokeh.models import Span, Panel, Tabs
from bokeh.io import curdoc
from bokeh.models import Div, RangeSlider ,FactorRange, Paragraph
from bokeh.layouts import layout
#file/notebook
output_file("SungaiBerangHuluTerengganu.html")
#output_notebook()

In [2]:
df = pd.read_csv(r"C:\Users\SAIFUL\Desktop\fyp codes\Data By Station Clean\Ter Sg. Berang Hulu Terengganu Clean Water Level.csv",index_col=[0],parse_dates=['Date'])

In [3]:
df.dtypes

Date                              datetime64[ns]
Sg. Berang Hulu Terengganu (m)           float64
dtype: object

In [4]:
#sorting value 
df = df.sort_values(['Date'], ascending=[True])

In [5]:
df.head()

          Date  Sg. Berang Hulu Terengganu (m)
0   2016-01-01                           21.43
31  2016-01-02                           20.53
60  2016-01-03                           20.55
91  2016-01-04                           20.06
121 2016-01-05                           19.96

In [6]:
df.tail()

           Date  Sg. Berang Hulu Terengganu (m)
1822 2020-12-27                           21.56
1823 2020-12-28                           20.85
1824 2020-12-29                           20.69
1825 2020-12-30                           20.69
1826 2020-12-31                           20.69

In [7]:
df['Sg. Berang Hulu Terengganu (m)'].mean()

20.357982808022918

In [8]:
#sorting from 2020 
WaterLevelIn2020 = df[(df['Date'] >= '2020-01-01') & (df['Date'] <= '2020-12-31')]
WaterLevelIn2019 = df[(df['Date'] >= '2019-01-01') & (df['Date'] <= '2019-12-31')]
WaterLevelIn2018 = df[(df['Date'] >= '2018-01-01') & (df['Date'] <= '2018-12-31')]

In [9]:
#set new index for prediction comparison
NewWaterLevelIn2020=WaterLevelIn2020
NewWaterLevelIn2020.head()

           Date  Sg. Berang Hulu Terengganu (m)
1461 2020-01-01                           20.42
1492 2020-01-02                           20.74
1521 2020-01-03                           20.42
1552 2020-01-04                           20.09
1582 2020-01-05                           20.26

In [10]:
NewWaterLevelIn2020.insert(0, 'New_ID', range(1, 1 + len(NewWaterLevelIn2020)))
NewWaterLevelIn2020.head()

      New_ID       Date  Sg. Berang Hulu Terengganu (m)
1461       1 2020-01-01                           20.42
1492       2 2020-01-02                           20.74
1521       3 2020-01-03                           20.42
1552       4 2020-01-04                           20.09
1582       5 2020-01-05                           20.26

In [11]:
#load prediction dataset
import pickle
#to load the prediction model
with open (r'C:\Users\SAIFUL\Desktop\fyp codes\Prediction Model New\WLP Sg. Berang, Hulu Terengganu', 'rb') as f:
  WaterLevelPrediction = pickle.load(f)

In [12]:
WaterLevelPrediction

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2016-01-01,20.134922,19.400344,21.442433,20.134922,20.134922,0.263077,0.263077,0.263077,-0.015196,-0.015196,-0.015196,0.278273,0.278273,0.278273,0.0,0.0,0.0,20.397999
1,2016-01-02,20.135620,19.463810,21.353443,20.135620,20.135620,0.281245,0.281245,0.281245,0.021525,0.021525,0.021525,0.259720,0.259720,0.259720,0.0,0.0,0.0,20.416866
2,2016-01-03,20.136318,19.404754,21.334349,20.136318,20.136318,0.255104,0.255104,0.255104,0.011344,0.011344,0.011344,0.243760,0.243760,0.243760,0.0,0.0,0.0,20.391422
3,2016-01-04,20.137016,19.304952,21.297661,20.137016,20.137016,0.207607,0.207607,0.207607,-0.023136,-0.023136,-0.023136,0.230743,0.230743,0.230743,0.0,0.0,0.0,20.344623
4,2016-01-05,20.137714,19.382108,21.390064,20.137714,20.137714,0.221297,0.221297,0.221297,0.000354,0.000354,0.000354,0.220943,0.220943,0.220943,0.0,0.0,0.0,20.359011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,2024-12-26,21.403025,20.364546,23.137884,20.400468,22.407586,0.400801,0.400801,0.400801,0.001463,0.001463,0.001463,0.399338,0.399338,0.399338,0.0,0.0,0.0,21.803826
3201,2024-12-27,21.403617,20.311294,23.134381,20.400116,22.408860,0.360039,0.360039,0.360039,-0.015196,-0.015196,-0.015196,0.375235,0.375235,0.375235,0.0,0.0,0.0,21.763656
3202,2024-12-28,21.404209,20.267050,23.142810,20.399764,22.410135,0.372526,0.372526,0.372526,0.021525,0.021525,0.021525,0.351001,0.351001,0.351001,0.0,0.0,0.0,21.776736
3203,2024-12-29,21.404801,20.316551,23.152516,20.399412,22.411409,0.338565,0.338565,0.338565,0.011344,0.011344,0.011344,0.327220,0.327220,0.327220,0.0,0.0,0.0,21.743366
3204,2024-12-30,21.405394,20.293497,23.080224,20.399060,22.412684,0.281327,0.281327,0.281327,-0.023136,-0.023136,-0.023136,0.304463,0.304463,0.304463,0.0,0.0,0.0,21.686721

In [13]:
#sorting current year until future 
FutureWaterLevel = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]
FutureWaterLevel.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
3200,2024-12-26,21.403025,20.364546,23.137884,20.400468,22.407586,0.400801,0.400801,0.400801,0.001463,0.001463,0.001463,0.399338,0.399338,0.399338,0.0,0.0,0.0,21.803826
3201,2024-12-27,21.403617,20.311294,23.134381,20.400116,22.408860,0.360039,0.360039,0.360039,-0.015196,-0.015196,-0.015196,0.375235,0.375235,0.375235,0.0,0.0,0.0,21.763656
3202,2024-12-28,21.404209,20.267050,23.142810,20.399764,22.410135,0.372526,0.372526,0.372526,0.021525,0.021525,0.021525,0.351001,0.351001,0.351001,0.0,0.0,0.0,21.776736
3203,2024-12-29,21.404801,20.316551,23.152516,20.399412,22.411409,0.338565,0.338565,0.338565,0.011344,0.011344,0.011344,0.327220,0.327220,0.327220,0.0,0.0,0.0,21.743366
3204,2024-12-30,21.405394,20.293497,23.080224,20.399060,22.412684,0.281327,0.281327,0.281327,-0.023136,-0.023136,-0.023136,0.304463,0.304463,0.304463,0.0,0.0,0.0,21.686721

In [14]:
WaterLevelPredictionYear = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2021-01-01') & (WaterLevelPrediction['ds'] <= '2022-12-31')]

In [15]:
WaterLevelPredictionYear

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
1745,2021-01-01,20.541578,19.834601,21.788225,20.541578,20.541578,0.248934,0.248934,0.248934,-0.015196,-0.015196,-0.015196,0.264131,0.264131,0.264131,0.0,0.0,0.0,20.790512
1746,2021-01-02,20.542170,19.787420,21.779167,20.542170,20.542170,0.269012,0.269012,0.269012,0.021525,0.021525,0.021525,0.247486,0.247486,0.247486,0.0,0.0,0.0,20.811182
1747,2021-01-03,20.542762,19.808675,21.733481,20.542762,20.542762,0.245049,0.245049,0.245049,0.011344,0.011344,0.011344,0.233705,0.233705,0.233705,0.0,0.0,0.0,20.787812
1748,2021-01-04,20.543354,19.679312,21.673511,20.543354,20.543354,0.199944,0.199944,0.199944,-0.023136,-0.023136,-0.023136,0.223080,0.223080,0.223080,0.0,0.0,0.0,20.743298
1749,2021-01-05,20.543947,19.750286,21.704066,20.543946,20.543975,0.216173,0.216173,0.216173,0.000354,0.000354,0.000354,0.215819,0.215819,0.215819,0.0,0.0,0.0,20.760119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2470,2022-12-27,20.970822,20.390265,22.395094,20.596052,21.326782,0.387694,0.387694,0.387694,0.000354,0.000354,0.000354,0.387340,0.387340,0.387340,0.0,0.0,0.0,21.358516
2471,2022-12-28,20.971414,20.253372,22.259477,20.595769,21.327791,0.366744,0.366744,0.366744,0.003646,0.003646,0.003646,0.363098,0.363098,0.363098,0.0,0.0,0.0,21.338158
2472,2022-12-29,20.972006,20.262951,22.338599,20.595485,21.328800,0.340481,0.340481,0.340481,0.001463,0.001463,0.001463,0.339018,0.339018,0.339018,0.0,0.0,0.0,21.312486
2473,2022-12-30,20.972598,20.216858,22.358186,20.595202,21.329808,0.300483,0.300483,0.300483,-0.015196,-0.015196,-0.015196,0.315679,0.315679,0.315679,0.0,0.0,0.0,21.273081
2474,2022-12-31,20.973190,20.198907,22.351754,20.594918,21.330817,0.315164,0.315164,0.315164,0.021525,0.021525,0.021525,0.293639,0.293639,0.293639,0.0,0.0,0.0,21.288354

In [16]:
PredictionWaterLevelIn2022 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2022-12-31')]

PredictionWaterLevelIn2023 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2023-01-01') & (WaterLevelPrediction['ds'] <= '2023-12-31')]

PredictionWaterLevelIn2024 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2024-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]

In [17]:
#set new_id as index
PredictionWaterLevelIn2022.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2022)))
PredictionWaterLevelIn2022.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2110,1,2022-01-01,20.757680,20.105375,21.964605,20.612314,20.894412,0.290223,0.290223,0.290223,0.021525,0.021525,0.021525,0.268697,0.268697,0.268697,0.0,0.0,0.0,21.047903
2111,2,2022-01-02,20.758272,20.058847,22.042526,20.612832,20.895506,0.262736,0.262736,0.262736,0.011344,0.011344,0.011344,0.251392,0.251392,0.251392,0.0,0.0,0.0,21.021008
2112,3,2022-01-03,20.758864,19.958001,21.899241,20.613351,20.897008,0.213728,0.213728,0.213728,-0.023136,-0.023136,-0.023136,0.236865,0.236865,0.236865,0.0,0.0,0.0,20.972592
2113,4,2022-01-04,20.759456,19.996787,21.999650,20.613077,20.898510,0.225781,0.225781,0.225781,0.000354,0.000354,0.000354,0.225428,0.225428,0.225428,0.0,0.0,0.0,20.985238
2114,5,2022-01-05,20.760048,20.006856,21.956332,20.612789,20.899830,0.220957,0.220957,0.220957,0.003646,0.003646,0.003646,0.217311,0.217311,0.217311,0.0,0.0,0.0,20.981005

In [18]:
#set new_id as index
PredictionWaterLevelIn2023.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2023)))
PredictionWaterLevelIn2023.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2475,1,2023-01-01,20.973782,20.219627,22.363177,20.594635,21.331937,0.284758,0.284758,0.284758,0.011344,0.011344,0.011344,0.273414,0.273414,0.273414,0.0,0.0,0.0,21.258540
2476,2,2023-01-02,20.974374,20.183972,22.299611,20.594351,21.333394,0.232335,0.232335,0.232335,-0.023136,-0.023136,-0.023136,0.255472,0.255472,0.255472,0.0,0.0,0.0,21.206709
2477,3,2023-01-03,20.974966,20.176767,22.220453,20.594068,21.334852,0.240572,0.240572,0.240572,0.000354,0.000354,0.000354,0.240218,0.240218,0.240218,0.0,0.0,0.0,21.215538
2478,4,2023-01-04,20.975558,20.191478,22.324673,20.593785,21.336310,0.231629,0.231629,0.231629,0.003646,0.003646,0.003646,0.227983,0.227983,0.227983,0.0,0.0,0.0,21.207188
2479,5,2023-01-05,20.976150,20.144001,22.247721,20.593501,21.337767,0.220482,0.220482,0.220482,0.001463,0.001463,0.001463,0.219019,0.219019,0.219019,0.0,0.0,0.0,21.196632

In [19]:
#set new_id as index
PredictionWaterLevelIn2024.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2024)))
PredictionWaterLevelIn2024.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2840,1,2024-01-01,21.189884,20.203690,22.587638,20.496195,21.820479,0.255137,0.255137,0.255137,-0.023136,-0.023136,-0.023136,0.278273,0.278273,0.278273,0.0,0.0,0.0,21.445021
2841,2,2024-01-02,21.190476,20.148836,22.615749,20.496214,21.821804,0.260074,0.260074,0.260074,0.000354,0.000354,0.000354,0.259720,0.259720,0.259720,0.0,0.0,0.0,21.450550
2842,3,2024-01-03,21.191068,20.202738,22.584125,20.496232,21.823129,0.247406,0.247406,0.247406,0.003646,0.003646,0.003646,0.243760,0.243760,0.243760,0.0,0.0,0.0,21.438474
2843,4,2024-01-04,21.191660,20.283107,22.577882,20.496250,21.824454,0.232206,0.232206,0.232206,0.001463,0.001463,0.001463,0.230743,0.230743,0.230743,0.0,0.0,0.0,21.423866
2844,5,2024-01-05,21.192252,20.224863,22.650224,20.496269,21.825779,0.205747,0.205747,0.205747,-0.015196,-0.015196,-0.015196,0.220943,0.220943,0.220943,0.0,0.0,0.0,21.397999

In [20]:
#rename ds as Date
PredictionWaterLevelIn2022=PredictionWaterLevelIn2022.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2023=PredictionWaterLevelIn2023.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2024=PredictionWaterLevelIn2024.rename(columns={'ds': 'Date'})

In [21]:
df.dtypes

Date                              datetime64[ns]
Sg. Berang Hulu Terengganu (m)           float64
dtype: object

In [22]:
WaterLevelPrediction.dtypes

ds                            datetime64[ns]
trend                                float64
yhat_lower                           float64
yhat_upper                           float64
trend_lower                          float64
trend_upper                          float64
additive_terms                       float64
additive_terms_lower                 float64
additive_terms_upper                 float64
weekly                               float64
weekly_lower                         float64
weekly_upper                         float64
yearly                               float64
yearly_lower                         float64
yearly_upper                         float64
multiplicative_terms                 float64
multiplicative_terms_lower           float64
multiplicative_terms_upper           float64
yhat                                 float64
dtype: object

In [28]:
#plotting from 2016 until 2020
#create and configure the figure
PlotAll = figure(
    x_axis_type='datetime',
    plot_width = 500, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
PlotAll.line('Date', 'Sg. Berang Hulu Terengganu (m)',
               line_width=2,
              source=df)



# add hover tool
PlotAll.add_tools(HoverTool(tooltips=[
           ('Date', '@Date{%F}'),
           ('Sg. Berang Hulu Terengganu (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
PlotAll.title.text = "Water Level in Sungai Berang, Hulu Terengganu From 2016 to 2020"

# style the headline
PlotAll.title.text_font_size = "15px"
PlotAll.title.align = "center"
PlotAll.title.text_color = "black"





#########################################plotting by year######################################################################
#create and configure the figure
plot2020 = figure(x_axis_type='datetime', plot_width = 1450, plot_height = 450,
                  x_axis_label='Date', y_axis_label='Water Level (m)')
plot2019 = figure(x_axis_type='datetime', plot_width = 1450, plot_height = 450,
                  x_axis_label='Date', y_axis_label='Water Level (m)')
plot2018 = figure(x_axis_type='datetime', plot_width = 1450, plot_height = 450,
                  x_axis_label='Date', y_axis_label='Water Level (m)')

#Render the water level as step lines
plot2020.line('Date', 'Sg. Berang Hulu Terengganu (m)',legend_label='2020',line_width=2,source=WaterLevelIn2020)
#mean
plot2020.line('Date', df['Sg. Berang Hulu Terengganu (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2020)

tab1 = Panel(child=plot2020, title="2020")

plot2019.line('Date', 'Sg. Berang Hulu Terengganu (m)',legend_label='2019',line_width=2,source=WaterLevelIn2019)
#mean
plot2019.line('Date', df['Sg. Berang Hulu Terengganu (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2019)

tab2 = Panel(child=plot2019, title="2019")

plot2018.line('Date', 'Sg. Berang Hulu Terengganu (m)',legend_label='2018',line_width=2,source=WaterLevelIn2018)
#mean
plot2018.line('Date', df['Sg. Berang Hulu Terengganu (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2018)

tab3 = Panel(child=plot2018, title="2018")

tabs = Tabs(tabs=[tab1, tab2,tab3])

# add hover tool
plot2020.add_tools(HoverTool(tooltips=[
           ('Date', '@Date{%F}'),
           ('Sg. Berang Hulu Terengganu (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))
# add hover tool
plot2019.add_tools(HoverTool(tooltips=[
           ('Date', '@Date{%F}'),
           ('Sg. Berang Hulu Terengganu (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))
# add hover tool
plot2018.add_tools(HoverTool(tooltips=[
           ('Date', '@Date{%F}'),
           ('Sg. Berang Hulu Terengganu (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
# style the headline
plot2020.title.text = "Water Level in Sungai Berang, Hulu Terengganu in 2020"
plot2020.title.text_font_size = "15px"
plot2020.title.align = "center"
plot2020.title.text_color = "black"

# change headline text
# style the headline
plot2019.title.text = "Water Level in Sungai Berang, Hulu Terengganu in 2019"
plot2019.title.text_font_size = "15px"
plot2019.title.align = "center"
plot2019.title.text_color = "black"

# change headline text
# style the headline
plot2018.title.text = "Water Level in Sungai Berang, Hulu Terengganu in 2018"
plot2018.title.text_font_size = "15px"
plot2018.title.align = "center"
plot2018.title.text_color = "black"



########################################Bar chart min max#######################################################################

factors = [
    ("2016", "min"), ("2016", "max"),
    ("2017", "min"), ("2017", "max"), 
    ("2018", "min"), ("2018", "max"), 
    ("2019", "min"), ("2019", "max"), 
    ("2020", "min"), ("2020", "max"),

]

barMinMax = figure(x_range=FactorRange(*factors), plot_height=750, x_axis_label='Year', y_axis_label='Water Level (m)')

x = [ 19.91,23.48, #2016
     20.01,25.32,  #2017
     19.95,23.39,  #2018
     19.97,24.76,  #2019
    20.03,23.93]   #2020
barMinMax.vbar(x=factors, top=x, width=0.9)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [23.48, 25.32, 23.39, 24.76,23.93]
barMinMax.line(x=qs, y=aves, color="red", line_width=2,legend_label='Maximun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [19.91, 20.01, 19.95, 19.97,20.03]
barMinMax.line(x=qs, y=aves, color="blue", line_width=2,legend_label='Minimun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

barMinMax.y_range.start = 0
barMinMax.x_range.range_padding = 0.1
barMinMax.xaxis.major_label_orientation = 1
barMinMax.xgrid.grid_line_color = None

# add hover tool
barMinMax.add_tools(HoverTool(tooltips=[
           ('Sg. Berang Hulu Terengganu (m)', '$y{(0.00)}'),   
            ]                       
         ))

# change headline text
# style the headline
barMinMax.title.text = "Minimun and Maximun Water Level in Sungai Berang, Hulu Terengganu"
barMinMax.title.text_font_size = "15px"
barMinMax.title.align = "center"
barMinMax.title.text_color = "black"

#div text
div1 = Paragraph(text="")
######################################future water level######################################################################
PlotAllPrediction = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')


PlotAllPrediction.line('ds','yhat',legend_label='Future Water Level Until 2024', 
                    line_width=2, source= FutureWaterLevel)

# add hover tool
PlotAllPrediction.add_tools(HoverTool(tooltips=[('date', '@ds{%F}'),
            ('Sg. Berang Hulu Terengganu (m)', '$y')],
          formatters={'@ds': 'datetime'}))


# change headline text
PlotAllPrediction.title.text = "Future Water Level until 2024"

# style the headline
PlotAllPrediction.title.text_font_size = "15px"
PlotAllPrediction.title.align = "center"
PlotAllPrediction.title.text_color = "black"

#div text
div = Div(text="<H>Model Prediction With 0.50% Error Rate</H>")

######################################compare prediction plotting###############################################################
multi_line_plot1 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot1.line('New_ID','yhat',legend_label='Water Level in 2022', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2022)

multi_line_plot1.line('New_ID','Sg. Berang Hulu Terengganu (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab4 = Panel(child=multi_line_plot1, title="2020 vs 2022")

# add hover tool
multi_line_plot1.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Berang Hulu Terengganu (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot1.title.text = "Comparisson Water Level in 2022 with Future Water Level"

# style the headline
multi_line_plot1.title.text_font_size = "15px"
multi_line_plot1.title.align = "center"
multi_line_plot1.title.text_color = "black"


#########################################################2023

multi_line_plot2 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot2.line('New_ID','yhat',legend_label='Water Level in 2023', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2023)

multi_line_plot2.line('New_ID','Sg. Berang Hulu Terengganu (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab5 = Panel(child=multi_line_plot2, title="2020 vs 2023")

# add hover tool
multi_line_plot2.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Berang Hulu Terengganu (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot2.title.text = "Comparisson Water Level in 2022 with Future Water Level"

# style the headline
multi_line_plot2.title.text_font_size = "15px"
multi_line_plot2.title.align = "center"
multi_line_plot2.title.text_color = "black"


#########################################################2024
multi_line_plot3 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot3.line('New_ID','yhat',legend_label='Water Level in 2024', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2024)

multi_line_plot3.line('New_ID','Sg. Berang Hulu Terengganu (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab6 = Panel(child=multi_line_plot3, title="2020 vs 2024")

# add hover tool
multi_line_plot3.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Berang Hulu Terengganu (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot3.title.text = "Comparisson Water Level in 2022 with Future Water Level"

# style the headline
multi_line_plot3.title.text_font_size = "15px"
multi_line_plot3.title.align = "center"
multi_line_plot3.title.text_color = "black"


tabs2 = Tabs(tabs=[tab4,tab5,tab6],sizing_mode='stretch_both')

###########################################crosshairtool########################################################################
cross1 = CrosshairTool()
PlotAll.add_tools(cross1)

cross1 = CrosshairTool()
plot2020.add_tools(cross1)

cross1 = CrosshairTool()
plot2019.add_tools(cross1)

cross1 = CrosshairTool()
plot2018.add_tools(cross1)


cross1 = CrosshairTool()
PlotAllPrediction.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot1.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot2.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot3.add_tools(cross1)
#############################################################plot layout########################################################

# apply theme to current document
curdoc().theme = "light_minimal"
#p = gridplot(children = [[dabongFig], [plot2019,multi_line_plot]], sizing_mode = 'stretch_both')

printall = layout([
  [PlotAll],
  [tabs],
  [div1],
  [barMinMax],
  [div],
  [PlotAllPrediction],
  [tabs2],
], sizing_mode='stretch_both')

show(printall)