In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\SAIFUL\Desktop\fyp codes\Data By Station Clean\Kel Sg. Galas Dabong Clean Water Level.csv",index_col=[0],parse_dates=['Date'])

In [3]:
df.dtypes

Date                    datetime64[ns]
Sg. Galas Dabong (m)           float64
dtype: object

In [4]:
#sorting value 
df = df.sort_values(['Date'], ascending=[True])

In [5]:
import bokeh
from bokeh.plotting import figure, show, output_file 
from bokeh.models import HoverTool,CrosshairTool, Panel, Tabs
from bokeh.layouts import gridplot
from bokeh.models import Span
from bokeh.io import curdoc
from bokeh.models import Div, RangeSlider, FactorRange, Paragraph
from bokeh.layouts import layout
#file/notebook
output_file("SungaiGalasDabong.html")
#output_notebook()

In [6]:
df

           Date  Sg. Galas Dabong (m)
0    2016-01-01                 27.69
31   2016-01-02                 25.25
60   2016-01-03                 25.56
335  2016-01-12                 28.77
12   2016-01-13                 25.41
...         ...                   ...
1503 2020-12-02                 31.18
1532 2020-12-03                 35.64
1563 2020-12-04                 34.51
1593 2020-12-05                 42.88
1624 2020-12-06                 43.97

[1406 rows x 2 columns]

In [7]:
df['Sg. Galas Dabong (m)'].mean()

29.439288762446647

In [8]:
#sorting from 2020 
WaterLevelIn2020 = df[(df['Date'] >= '2020-01-01') & (df['Date'] <= '2020-12-31')]
WaterLevelIn2019 = df[(df['Date'] >= '2019-01-01') & (df['Date'] <= '2019-12-31')]
WaterLevelIn2018 = df[(df['Date'] >= '2018-01-01') & (df['Date'] <= '2018-12-31')]

In [9]:
#set new index for prediction comparison
NewWaterLevelIn2020=WaterLevelIn2018
NewWaterLevelIn2020.head()

          Date  Sg. Galas Dabong (m)
731 2018-01-01                 33.28
762 2018-01-02                 29.99
790 2018-01-03                 28.67
821 2018-01-04                 29.39
851 2018-01-05                 29.90

In [10]:
NewWaterLevelIn2020.insert(0, 'New_ID', range(1, 1 + len(NewWaterLevelIn2020)))
NewWaterLevelIn2020.head()

     New_ID       Date  Sg. Galas Dabong (m)
731       1 2018-01-01                 33.28
762       2 2018-01-02                 29.99
790       3 2018-01-03                 28.67
821       4 2018-01-04                 29.39
851       5 2018-01-05                 29.90

In [11]:
#load prediction dataset
import pickle
#to load the prediction model
with open (r'C:\Users\SAIFUL\Desktop\fyp codes\Prediction Model New\WLP Sg. Galas, Dabong', 'rb') as f:
  WaterLevelPrediction = pickle.load(f)

In [12]:
WaterLevelPrediction

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2016-01-01,25.335905,20.774925,30.263188,25.335905,25.335905,0.163477,0.163477,0.163477,-0.066776,-0.066776,-0.066776,0.230253,0.230253,0.230253,0.0,0.0,0.0,25.499382
1,2016-01-02,25.346944,20.583015,30.243790,25.346944,25.346944,0.238032,0.238032,0.238032,0.027149,0.027149,0.027149,0.210883,0.210883,0.210883,0.0,0.0,0.0,25.584976
2,2016-01-03,25.357984,20.827999,30.475756,25.357984,25.357984,0.254021,0.254021,0.254021,0.069874,0.069874,0.069874,0.184148,0.184148,0.184148,0.0,0.0,0.0,25.612005
3,2016-01-12,25.457338,20.525161,30.554716,25.457338,25.457338,-0.127513,-0.127513,-0.127513,-0.018159,-0.018159,-0.018159,-0.109354,-0.109354,-0.109354,0.0,0.0,0.0,25.329825
4,2016-01-13,25.468377,20.462024,30.106318,25.468377,25.468377,-0.252008,-0.252008,-0.252008,-0.132937,-0.132937,-0.132937,-0.119071,-0.119071,-0.119071,0.0,0.0,0.0,25.216370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2861,2024-12-01,89.803446,63.973787,112.959449,65.976690,113.971265,-1.347442,-1.347442,-1.347442,0.069874,0.069874,0.069874,-1.417316,-1.417316,-1.417316,0.0,0.0,0.0,88.456003
2862,2024-12-02,89.835894,65.150928,113.181398,65.987516,114.046091,-1.339661,-1.339661,-1.339661,0.103880,0.103880,0.103880,-1.443541,-1.443541,-1.443541,0.0,0.0,0.0,88.496232
2863,2024-12-03,89.868341,64.624363,113.788585,65.998342,114.120918,-1.479629,-1.479629,-1.479629,-0.018159,-0.018159,-0.018159,-1.461470,-1.461470,-1.461470,0.0,0.0,0.0,88.388712
2864,2024-12-04,89.900789,63.938773,113.756584,66.009168,114.195744,-1.602776,-1.602776,-1.602776,-0.132937,-0.132937,-0.132937,-1.469839,-1.469839,-1.469839,0.0,0.0,0.0,88.298013
2865,2024-12-05,89.933237,63.731445,112.575964,66.019993,114.270571,-1.450627,-1.450627,-1.450627,0.016969,0.016969,0.016969,-1.467596,-1.467596,-1.467596,0.0,0.0,0.0,88.482610

In [13]:
#sorting water level prediction time frame 
FutureWaterLevel = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]
FutureWaterLevel.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2861,2024-12-01,89.803446,63.973787,112.959449,65.976690,113.971265,-1.347442,-1.347442,-1.347442,0.069874,0.069874,0.069874,-1.417316,-1.417316,-1.417316,0.0,0.0,0.0,88.456003
2862,2024-12-02,89.835894,65.150928,113.181398,65.987516,114.046091,-1.339661,-1.339661,-1.339661,0.103880,0.103880,0.103880,-1.443541,-1.443541,-1.443541,0.0,0.0,0.0,88.496232
2863,2024-12-03,89.868341,64.624363,113.788585,65.998342,114.120918,-1.479629,-1.479629,-1.479629,-0.018159,-0.018159,-0.018159,-1.461470,-1.461470,-1.461470,0.0,0.0,0.0,88.388712
2864,2024-12-04,89.900789,63.938773,113.756584,66.009168,114.195744,-1.602776,-1.602776,-1.602776,-0.132937,-0.132937,-0.132937,-1.469839,-1.469839,-1.469839,0.0,0.0,0.0,88.298013
2865,2024-12-05,89.933237,63.731445,112.575964,66.019993,114.270571,-1.450627,-1.450627,-1.450627,0.016969,0.016969,0.016969,-1.467596,-1.467596,-1.467596,0.0,0.0,0.0,88.482610

In [14]:
#sorting water level prediction by year

PredictionWaterLevelIn2022 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2022-12-31')]

PredictionWaterLevelIn2023 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2023-01-01') & (WaterLevelPrediction['ds'] <= '2023-12-31')]

PredictionWaterLevelIn2024 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2024-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]

In [15]:
PredictionWaterLevelIn2022.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2156,2022-12-27,66.927812,56.705215,77.843235,58.088666,75.577967,0.166565,0.166565,0.166565,-0.018159,-0.018159,-0.018159,0.184724,0.184724,0.184724,0.0,0.0,0.0,67.094377
2157,2022-12-28,66.960259,56.388129,76.914255,58.100760,75.615971,0.082764,0.082764,0.082764,-0.132937,-0.132937,-0.132937,0.215701,0.215701,0.215701,0.0,0.0,0.0,67.043023
2158,2022-12-29,66.992707,57.437303,76.916013,58.112855,75.653974,0.251701,0.251701,0.251701,0.016969,0.016969,0.016969,0.234733,0.234733,0.234733,0.0,0.0,0.0,67.244409
2159,2022-12-30,67.025155,57.150844,77.946072,58.124949,75.691978,0.175501,0.175501,0.175501,-0.066776,-0.066776,-0.066776,0.242277,0.242277,0.242277,0.0,0.0,0.0,67.200656
2160,2022-12-31,67.057602,57.193853,77.345620,58.137044,75.735660,0.266235,0.266235,0.266235,0.027149,0.027149,0.027149,0.239086,0.239086,0.239086,0.0,0.0,0.0,67.323837

In [16]:
PredictionWaterLevelIn2023.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2521,2023-12-27,78.771225,62.852696,95.017576,63.056937,94.288204,0.042153,0.042153,0.042153,-0.132937,-0.132937,-0.132937,0.175090,0.175090,0.175090,0.0,0.0,0.0,78.813378
2522,2023-12-28,78.803673,62.536917,94.978682,63.063929,94.340006,0.226056,0.226056,0.226056,0.016969,0.016969,0.016969,0.209087,0.209087,0.209087,0.0,0.0,0.0,79.029729
2523,2023-12-29,78.836121,61.959821,95.963861,63.070921,94.391808,0.164299,0.164299,0.164299,-0.066776,-0.066776,-0.066776,0.231075,0.231075,0.231075,0.0,0.0,0.0,79.000419
2524,2023-12-30,78.868568,62.885565,95.613739,63.077912,94.443610,0.268581,0.268581,0.268581,0.027149,0.027149,0.027149,0.241432,0.241432,0.241432,0.0,0.0,0.0,79.137149
2525,2023-12-31,78.901016,61.972088,96.081920,63.084904,94.495412,0.310712,0.310712,0.310712,0.069874,0.069874,0.069874,0.240838,0.240838,0.240838,0.0,0.0,0.0,79.211728

In [17]:
PredictionWaterLevelIn2024.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2861,2024-12-01,89.803446,63.973787,112.959449,65.976690,113.971265,-1.347442,-1.347442,-1.347442,0.069874,0.069874,0.069874,-1.417316,-1.417316,-1.417316,0.0,0.0,0.0,88.456003
2862,2024-12-02,89.835894,65.150928,113.181398,65.987516,114.046091,-1.339661,-1.339661,-1.339661,0.103880,0.103880,0.103880,-1.443541,-1.443541,-1.443541,0.0,0.0,0.0,88.496232
2863,2024-12-03,89.868341,64.624363,113.788585,65.998342,114.120918,-1.479629,-1.479629,-1.479629,-0.018159,-0.018159,-0.018159,-1.461470,-1.461470,-1.461470,0.0,0.0,0.0,88.388712
2864,2024-12-04,89.900789,63.938773,113.756584,66.009168,114.195744,-1.602776,-1.602776,-1.602776,-0.132937,-0.132937,-0.132937,-1.469839,-1.469839,-1.469839,0.0,0.0,0.0,88.298013
2865,2024-12-05,89.933237,63.731445,112.575964,66.019993,114.270571,-1.450627,-1.450627,-1.450627,0.016969,0.016969,0.016969,-1.467596,-1.467596,-1.467596,0.0,0.0,0.0,88.482610

In [18]:
#set new_id as index
PredictionWaterLevelIn2022.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2022)))
PredictionWaterLevelIn2022.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
1796,1,2022-01-01,55.246637,49.688937,61.147460,51.654267,58.673010,0.248731,0.248731,0.248731,0.027149,0.027149,0.027149,0.221582,0.221582,0.221582,0.0,0.0,0.0,55.495368
1797,2,2022-01-02,55.279084,49.714637,61.775615,51.667129,58.719421,0.268214,0.268214,0.268214,0.069874,0.069874,0.069874,0.198340,0.198340,0.198340,0.0,0.0,0.0,55.547298
1798,3,2022-01-03,55.311532,49.711630,61.319993,51.679992,58.765832,0.272389,0.272389,0.272389,0.103880,0.103880,0.103880,0.168509,0.168509,0.168509,0.0,0.0,0.0,55.583921
1799,4,2022-01-04,55.343980,49.671148,61.421386,51.692854,58.812243,0.115584,0.115584,0.115584,-0.018159,-0.018159,-0.018159,0.133743,0.133743,0.133743,0.0,0.0,0.0,55.459564
1800,5,2022-01-05,55.376428,49.863987,61.347412,51.705716,58.858654,-0.037143,-0.037143,-0.037143,-0.132937,-0.132937,-0.132937,0.095794,0.095794,0.095794,0.0,0.0,0.0,55.339285

In [19]:
#set new_id as index
PredictionWaterLevelIn2023.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2023)))
PredictionWaterLevelIn2023.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2161,1,2023-01-01,67.090050,57.458195,77.418792,58.149138,75.790314,0.296056,0.296056,0.296056,0.069874,0.069874,0.069874,0.226182,0.226182,0.226182,0.0,0.0,0.0,67.386106
2162,2,2023-01-02,67.122498,56.825403,77.679534,58.161233,75.844967,0.308711,0.308711,0.308711,0.103880,0.103880,0.103880,0.204830,0.204830,0.204830,0.0,0.0,0.0,67.431209
2163,3,2023-01-03,67.154946,57.068800,78.297369,58.173327,75.899620,0.158337,0.158337,0.158337,-0.018159,-0.018159,-0.018159,0.176496,0.176496,0.176496,0.0,0.0,0.0,67.313283
2164,4,2023-01-04,67.187393,57.714717,76.896347,58.185377,75.954273,0.009865,0.009865,0.009865,-0.132937,-0.132937,-0.132937,0.142802,0.142802,0.142802,0.0,0.0,0.0,67.197259
2165,5,2023-01-05,67.219841,57.412550,77.441934,58.197355,76.008926,0.122450,0.122450,0.122450,0.016969,0.016969,0.016969,0.105482,0.105482,0.105482,0.0,0.0,0.0,67.342291

In [20]:
#set new_id as index
PredictionWaterLevelIn2024.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2024)))
PredictionWaterLevelIn2024.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2526,1,2024-01-01,78.933464,63.057368,94.999787,63.091895,94.547214,0.334133,0.334133,0.334133,0.103880,0.103880,0.103880,0.230253,0.230253,0.230253,0.0,0.0,0.0,79.267597
2527,2,2024-01-02,78.965911,62.541912,95.702135,63.098935,94.599016,0.192724,0.192724,0.192724,-0.018159,-0.018159,-0.018159,0.210883,0.210883,0.210883,0.0,0.0,0.0,79.158635
2528,3,2024-01-03,78.998359,62.394271,95.633357,63.106054,94.650819,0.051211,0.051211,0.051211,-0.132937,-0.132937,-0.132937,0.184148,0.184148,0.184148,0.0,0.0,0.0,79.049570
2529,4,2024-01-04,79.030807,62.971698,96.324743,63.113172,94.705612,0.168603,0.168603,0.168603,0.016969,0.016969,0.016969,0.151635,0.151635,0.151635,0.0,0.0,0.0,79.199410
2530,5,2024-01-05,79.063254,62.726581,95.519359,63.120290,94.772093,0.048278,0.048278,0.048278,-0.066776,-0.066776,-0.066776,0.115054,0.115054,0.115054,0.0,0.0,0.0,79.111533

In [21]:
#rename ds as Date
PredictionWaterLevelIn2022=PredictionWaterLevelIn2022.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2023=PredictionWaterLevelIn2023.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2024=PredictionWaterLevelIn2024.rename(columns={'ds': 'Date'})

In [22]:
PredictionWaterLevelIn2024.tail()

,New_ID,Date,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2861,336,2024-12-01,89.803446,63.973787,112.959449,65.976690,113.971265,-1.347442,-1.347442,-1.347442,0.069874,0.069874,0.069874,-1.417316,-1.417316,-1.417316,0.0,0.0,0.0,88.456003
2862,337,2024-12-02,89.835894,65.150928,113.181398,65.987516,114.046091,-1.339661,-1.339661,-1.339661,0.103880,0.103880,0.103880,-1.443541,-1.443541,-1.443541,0.0,0.0,0.0,88.496232
2863,338,2024-12-03,89.868341,64.624363,113.788585,65.998342,114.120918,-1.479629,-1.479629,-1.479629,-0.018159,-0.018159,-0.018159,-1.461470,-1.461470,-1.461470,0.0,0.0,0.0,88.388712
2864,339,2024-12-04,89.900789,63.938773,113.756584,66.009168,114.195744,-1.602776,-1.602776,-1.602776,-0.132937,-0.132937,-0.132937,-1.469839,-1.469839,-1.469839,0.0,0.0,0.0,88.298013
2865,340,2024-12-05,89.933237,63.731445,112.575964,66.019993,114.270571,-1.450627,-1.450627,-1.450627,0.016969,0.016969,0.016969,-1.467596,-1.467596,-1.467596,0.0,0.0,0.0,88.482610

In [23]:
#plotting from 2016 until 2020
#create and configure the figure
PlotAll = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
PlotAll.line('Date', 'Sg. Galas Dabong (m)',legend_label='Water Level',
               line_width=2,
              source=df)

# add hover tool
PlotAll.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Galas Dabong (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
PlotAll.title.text = "Water Level in Sungai Galas, Dabong From 2016 to 2020"

# style the headline
PlotAll.title.text_font_size = "15px"
PlotAll.title.align = "center"
PlotAll.title.text_color = "black"




##################################plotting by year0#################################################################
#create and configure the figure
plot2020 = figure(
    x_axis_type='datetime',
    plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2019 = figure(
    x_axis_type='datetime',
    plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2018 = figure(
    x_axis_type='datetime',
    plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

#Render the water level as step lines
plot2020.line('Date', 'Sg. Galas Dabong (m)',legend_label='Water Level in 2020',line_width=2,source=WaterLevelIn2020)
#mean
plot2020.line('Date', df['Sg. Galas Dabong (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2020)

tab1 = Panel(child=plot2020, title="2020")

plot2019.line('Date', 'Sg. Galas Dabong (m)',legend_label='Water Level in 2019',line_width=2,source=WaterLevelIn2019)
#mean
plot2019.line('Date', df['Sg. Galas Dabong (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2019)

tab2 = Panel(child=plot2019, title="2019")

plot2018.line('Date', 'Sg. Galas Dabong (m)',legend_label='Water Level in 2018',line_width=2,source=WaterLevelIn2018)
#mean
plot2018.line('Date', df['Sg. Galas Dabong (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2018)

tab3 = Panel(child=plot2018, title="2018")

tabs = Tabs(tabs=[tab1,tab2,tab3])

# add hover tool
plot2020.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Galas Dabong (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2019.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Galas Dabong (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))
plot2018.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Galas Dabong (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

# change headline text
# style the headline
plot2020.title.text = "Water Level in Sungai Galas, Dabong in 2020"
plot2020.title.text_font_size = "15px"
plot2020.title.align = "center"
plot2020.title.text_color = "black"

# change headline text
# style the headline
plot2019.title.text = "Water Level in Sungai Galas, Dabong in 2019"
plot2019.title.text_font_size = "15px"
plot2019.title.align = "center"
plot2019.title.text_color = "black"

# change headline text
# style the headline
plot2018.title.text = "Water Level in Sungai Galas, Dabong in 2018"
plot2018.title.text_font_size = "15px"
plot2018.title.align = "center"
plot2018.title.text_color = "black"



######################################bar chart min max######################################################################
factors = [
    ("2016", "min"), ("2016", "max"),
    ("2017", "min"), ("2017", "max"), 
    ("2018", "min"), ("2018", "max"), 
    ("2019", "min"), ("2019", "max"), 
    ("2020", "min"), ("2020", "max"),

]

barMinMax = figure(x_range=FactorRange(*factors), plot_height=750, x_axis_label='Year', y_axis_label='Water Level (m)')

x = [ 24.58,33.65, #2016
     28.30,37.98,  #2017
     25.00,36.71,  #2018
     26.55,34.20,  #2019
    26.78,45.41]   #2020
barMinMax.vbar(x=factors, top=x, width=0.9)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [33.65, 37.98, 36.71, 34.20,45.41]
barMinMax.line(x=qs, y=aves, color="red", line_width=2,legend_label='Maximun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [24.58, 28.30,  25.00, 26.55,26.78]
barMinMax.line(x=qs, y=aves, color="blue", line_width=2,legend_label='Minimun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

barMinMax.y_range.start = 0
barMinMax.x_range.range_padding = 0.1
barMinMax.xaxis.major_label_orientation = 1
barMinMax.xgrid.grid_line_color = None

# add hover tool
barMinMax.add_tools(HoverTool(tooltips=[
           ('Sg. Galas Dabong (m)', '$y{(0.00)}'),   
            ]                       
         ))

# change headline text
# style the headline
barMinMax.title.text = "Minimun and Maximun Water Level in Sungai Galas, Dabong"
barMinMax.title.text_font_size = "15px"
barMinMax.title.align = "center"
barMinMax.title.text_color = "black"


#div text
div1 = Paragraph(text="")
######################################future water level######################################################################
PlotAllPrediction = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')


PlotAllPrediction.line('ds','yhat',legend_label='Future Water Level Until 2024', 
                    line_width=2, source= FutureWaterLevel)

# add hover tool
PlotAllPrediction.add_tools(HoverTool(tooltips=[('date', '@ds{%F}'),
            ('Sg. Galas Dabong (m)', '$y')],
          formatters={'@ds': 'datetime'}))


# change headline text
PlotAllPrediction.title.text = "Future Water Level until 2024"

# style the headline
PlotAllPrediction.title.text_font_size = "15px"
PlotAllPrediction.title.align = "center"
PlotAllPrediction.title.text_color = "black"


#div text

div = Div(text="<b>Model Prediction With 2.53% Error Rate</b>")
######################################compare prediction plotting##############################################################
multi_line_plot1 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot1.line('New_ID','yhat',legend_label='Water Level in 2022', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2022)

multi_line_plot1.line('New_ID','Sg. Galas Dabong (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2020)

tab4 = Panel(child=multi_line_plot1, title="2018 vs 2022")

# add hover tool
multi_line_plot1.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Galas Dabong (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot1.title.text = "Comparisson Water Level in 2018 with Future Water Level"

# style the headline
multi_line_plot1.title.text_font_size = "15px"
multi_line_plot1.title.align = "center"
multi_line_plot1.title.text_color = "black"

#########################################################2023

multi_line_plot2 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot2.line('New_ID','yhat',legend_label='Water Level in 2023', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2023)

multi_line_plot2.line('New_ID','Sg. Galas Dabong (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2020)

tab5 = Panel(child=multi_line_plot2, title="2018 vs 2023")

# add hover tool
multi_line_plot2.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Galas Dabong (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot2.title.text = "Comparisson Water Level in 2018 with Future Water Level"

# style the headline
multi_line_plot2.title.text_font_size = "15px"
multi_line_plot2.title.align = "center"
multi_line_plot2.title.text_color = "black"


#########################################################2024
multi_line_plot3 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot3.line('New_ID','yhat',legend_label='Water Level in 2024', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2024)

multi_line_plot3.line('New_ID','Sg. Galas Dabong (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2020)

tab6 = Panel(child=multi_line_plot3, title="2018 vs 2024")

# add hover tool
multi_line_plot3.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Galas Dabong (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot3.title.text = "Comparisson Water Level in 2018 with Future Water Level"

# style the headline
multi_line_plot3.title.text_font_size = "15px"
multi_line_plot3.title.align = "center"
multi_line_plot3.title.text_color = "black"


tabs2 = Tabs(tabs=[tab4,tab5,tab6],sizing_mode='stretch_both')


#########################################################crosshairtool########################################################
cross1 = CrosshairTool()
PlotAll.add_tools(cross1)

cross1 = CrosshairTool()
plot2020.add_tools(cross1)

cross1 = CrosshairTool()
plot2019.add_tools(cross1)

cross1 = CrosshairTool()
plot2018.add_tools(cross1)


cross1 = CrosshairTool()
PlotAllPrediction.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot1.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot2.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot3.add_tools(cross1)
###########################################################plot layout########################################################
# apply theme to current document
curdoc().theme = "light_minimal"
#p = gridplot(children = [[dabongFig], [plot2019,multi_line_plot]], sizing_mode = 'stretch_both')

l = layout([
  [PlotAll],
  [tabs],
    [div1],
  [barMinMax],
  [div],
  [PlotAllPrediction],
  [tabs2],
], sizing_mode='stretch_both')

show(l)

In [24]:
#2.5172771010701482 error meant square