In [1]:
import pandas as pd
import bokeh
from bokeh.plotting import figure, show, output_file 
from bokeh.models import HoverTool,CrosshairTool, Panel, Tabs
from bokeh.layouts import gridplot
from bokeh.models import Span
from bokeh.io import curdoc
from bokeh.models import Div, RangeSlider, FactorRange, Paragraph
from bokeh.layouts import layout
#file/notebook
output_file("SungaiKemamanTerengganu.html")
#output_notebook()

In [2]:
df = pd.read_csv(r"C:\Users\SAIFUL\Desktop\fyp codes\Data By Station Clean\Ter Sg. Kemaman Clean Water Level.csv",index_col=[0],parse_dates=['Date'])

In [3]:
df.dtypes

Date               datetime64[ns]
Sg. Kemaman (m)           float64
dtype: object

In [4]:
df.head()

        Date  Sg. Kemaman (m)
0 2016-01-01             9.24
1 2016-02-01             9.09
2 2016-03-01             8.99
3 2016-04-01             8.93
4 2016-05-01             8.88

In [5]:
df.tail()

           Date  Sg. Kemaman (m)
1822 2020-12-27            10.04
1823 2020-12-28             9.69
1824 2020-12-29             9.52
1825 2020-12-30             9.52
1826 2020-12-31             9.52

In [6]:
#sorting value 
df = df.sort_values(['Date'], ascending=[True])

In [7]:
#sorting from 2019 
WaterLevelIn2020 = df[(df['Date'] >= '2020-01-01') & (df['Date'] <= '2020-12-31')]
WaterLevelIn2019 = df[(df['Date'] >= '2019-01-01') & (df['Date'] <= '2019-12-31')]
WaterLevelIn2018 = df[(df['Date'] >= '2018-01-01') & (df['Date'] <= '2018-12-31')]

In [8]:
#set new index for prediction comparison
NewWaterLevelIn2020=WaterLevelIn2020
NewWaterLevelIn2020.head()

           Date  Sg. Kemaman (m)
1461 2020-01-01             8.87
1492 2020-01-02             8.76
1521 2020-01-03             8.36
1552 2020-01-04             8.27
1582 2020-01-05             8.38

In [9]:
NewWaterLevelIn2020.insert(0, 'New_ID', range(1, 1 + len(NewWaterLevelIn2020)))
NewWaterLevelIn2020.head()

      New_ID       Date  Sg. Kemaman (m)
1461       1 2020-01-01             8.87
1492       2 2020-01-02             8.76
1521       3 2020-01-03             8.36
1552       4 2020-01-04             8.27
1582       5 2020-01-05             8.38

In [10]:
WaterLevelIn2019

           Date  Sg. Kemaman (m)
1096 2019-01-01             8.72
1127 2019-01-02             8.45
1155 2019-01-03             8.40
1186 2019-01-04             8.47
1216 2019-01-05             8.50
...         ...              ...
1456 2019-12-27             9.05
1457 2019-12-28             9.00
1458 2019-12-29             9.00
1459 2019-12-30             9.00
1460 2019-12-31             9.00

[365 rows x 2 columns]

In [11]:
#load prediction dataset
import pickle
#to load the prediction model
with open (r'C:\Users\SAIFUL\Desktop\fyp codes\Prediction Model New\WLP Sg. Kemaman, Terengganu', 'rb') as f:
  WaterLevelPrediction = pickle.load(f)

In [12]:
WaterLevelPrediction

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2016-01-01,8.499468,7.764217,9.823194,8.499468,8.499468,0.275131,0.275131,0.275131,0.011839,0.011839,0.011839,0.263292,0.263292,0.263292,0.0,0.0,0.0,8.774599
1,2016-01-02,8.500387,7.707167,9.652345,8.500387,8.500387,0.240347,0.240347,0.240347,-0.002935,-0.002935,-0.002935,0.243282,0.243282,0.243282,0.0,0.0,0.0,8.740733
2,2016-01-03,8.501305,7.725515,9.735232,8.501305,8.501305,0.229150,0.229150,0.229150,0.003325,0.003325,0.003325,0.225825,0.225825,0.225825,0.0,0.0,0.0,8.730456
3,2016-01-04,8.502224,7.666730,9.719899,8.502224,8.502224,0.192969,0.192969,0.192969,-0.018267,-0.018267,-0.018267,0.211236,0.211236,0.211236,0.0,0.0,0.0,8.695193
4,2016-01-05,8.503143,7.661107,9.642053,8.503143,8.503143,0.196758,0.196758,0.196758,-0.003003,-0.003003,-0.003003,0.199760,0.199760,0.199760,0.0,0.0,0.0,8.699900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2024-12-26,10.366041,8.269810,13.089549,8.185240,12.507871,0.408379,0.408379,0.408379,0.014717,0.014717,0.014717,0.393662,0.393662,0.393662,0.0,0.0,0.0,10.774420
3283,2024-12-27,10.366993,8.335785,13.213412,8.183294,12.510796,0.379154,0.379154,0.379154,0.011839,0.011839,0.011839,0.367316,0.367316,0.367316,0.0,0.0,0.0,10.746147
3284,2024-12-28,10.367944,8.359072,12.970362,8.181347,12.513722,0.338203,0.338203,0.338203,-0.002935,-0.002935,-0.002935,0.341139,0.341139,0.341139,0.0,0.0,0.0,10.706148
3285,2024-12-29,10.368896,8.177913,13.187627,8.179399,12.516647,0.318968,0.318968,0.318968,0.003325,0.003325,0.003325,0.315643,0.315643,0.315643,0.0,0.0,0.0,10.687863
3286,2024-12-30,10.369847,8.320952,13.085399,8.177452,12.520193,0.273057,0.273057,0.273057,-0.018267,-0.018267,-0.018267,0.291324,0.291324,0.291324,0.0,0.0,0.0,10.642904

In [13]:
#sorting current year until future 
FutureWaterLevel = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]
FutureWaterLevel.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
3282,2024-12-26,10.366041,8.269810,13.089549,8.185240,12.507871,0.408379,0.408379,0.408379,0.014717,0.014717,0.014717,0.393662,0.393662,0.393662,0.0,0.0,0.0,10.774420
3283,2024-12-27,10.366993,8.335785,13.213412,8.183294,12.510796,0.379154,0.379154,0.379154,0.011839,0.011839,0.011839,0.367316,0.367316,0.367316,0.0,0.0,0.0,10.746147
3284,2024-12-28,10.367944,8.359072,12.970362,8.181347,12.513722,0.338203,0.338203,0.338203,-0.002935,-0.002935,-0.002935,0.341139,0.341139,0.341139,0.0,0.0,0.0,10.706148
3285,2024-12-29,10.368896,8.177913,13.187627,8.179399,12.516647,0.318968,0.318968,0.318968,0.003325,0.003325,0.003325,0.315643,0.315643,0.315643,0.0,0.0,0.0,10.687863
3286,2024-12-30,10.369847,8.320952,13.085399,8.177452,12.520193,0.273057,0.273057,0.273057,-0.018267,-0.018267,-0.018267,0.291324,0.291324,0.291324,0.0,0.0,0.0,10.642904

In [14]:
FutureWaterLevel.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2192,2022-01-01,9.328947,8.541926,10.629775,9.055357,9.628960,0.250054,0.250054,0.250054,-0.002935,-0.002935,-0.002935,0.252990,0.252990,0.252990,0.0,0.0,0.0,9.579001
2193,2022-01-02,9.329898,8.546889,10.585028,9.055307,9.631388,0.237538,0.237538,0.237538,0.003325,0.003325,0.003325,0.234213,0.234213,0.234213,0.0,0.0,0.0,9.567437
2194,2022-01-03,9.330850,8.501194,10.612752,9.054436,9.633816,0.199888,0.199888,0.199888,-0.018267,-0.018267,-0.018267,0.218155,0.218155,0.218155,0.0,0.0,0.0,9.530738
2195,2022-01-04,9.331801,8.476056,10.571234,9.053649,9.636243,0.202093,0.202093,0.202093,-0.003003,-0.003003,-0.003003,0.205096,0.205096,0.205096,0.0,0.0,0.0,9.533894
2196,2022-01-05,9.332753,8.517964,10.514631,9.053613,9.638671,0.189573,0.189573,0.189573,-0.005675,-0.005675,-0.005675,0.195248,0.195248,0.195248,0.0,0.0,0.0,9.522326

In [15]:
#sorting water level prediction by year

PredictionWaterLevelIn2022 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2022-12-31')]

PredictionWaterLevelIn2023 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2023-01-01') & (WaterLevelPrediction['ds'] <= '2023-12-31')]

PredictionWaterLevelIn2024 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2024-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]

In [16]:
#set new_id as index
PredictionWaterLevelIn2022.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2022)))
PredictionWaterLevelIn2022.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2192,1,2022-01-01,9.328947,8.541926,10.629775,9.055357,9.628960,0.250054,0.250054,0.250054,-0.002935,-0.002935,-0.002935,0.252990,0.252990,0.252990,0.0,0.0,0.0,9.579001
2193,2,2022-01-02,9.329898,8.546889,10.585028,9.055307,9.631388,0.237538,0.237538,0.237538,0.003325,0.003325,0.003325,0.234213,0.234213,0.234213,0.0,0.0,0.0,9.567437
2194,3,2022-01-03,9.330850,8.501194,10.612752,9.054436,9.633816,0.199888,0.199888,0.199888,-0.018267,-0.018267,-0.018267,0.218155,0.218155,0.218155,0.0,0.0,0.0,9.530738
2195,4,2022-01-04,9.331801,8.476056,10.571234,9.053649,9.636243,0.202093,0.202093,0.202093,-0.003003,-0.003003,-0.003003,0.205096,0.205096,0.205096,0.0,0.0,0.0,9.533894
2196,5,2022-01-05,9.332753,8.517964,10.514631,9.053613,9.638671,0.189573,0.189573,0.189573,-0.005675,-0.005675,-0.005675,0.195248,0.195248,0.195248,0.0,0.0,0.0,9.522326

In [17]:
#set new_id as index
PredictionWaterLevelIn2023.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2023)))
PredictionWaterLevelIn2023.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2557,1,2023-01-01,9.676231,8.616777,11.231930,8.875213,10.458526,0.261395,0.261395,0.261395,0.003325,0.003325,0.003325,0.258070,0.258070,0.258070,0.0,0.0,0.0,9.937625
2558,2,2023-01-02,9.677182,8.578811,11.191102,8.874458,10.460022,0.220398,0.220398,0.220398,-0.018267,-0.018267,-0.018267,0.238665,0.238665,0.238665,0.0,0.0,0.0,9.897580
2559,3,2023-01-03,9.678134,8.552002,11.250759,8.873703,10.463557,0.218896,0.218896,0.218896,-0.003003,-0.003003,-0.003003,0.221898,0.221898,0.221898,0.0,0.0,0.0,9.897029
2560,4,2023-01-04,9.679085,8.625902,11.200214,8.872949,10.467765,0.202392,0.202392,0.202392,-0.005675,-0.005675,-0.005675,0.208067,0.208067,0.208067,0.0,0.0,0.0,9.881477
2561,5,2023-01-05,9.680037,8.689928,11.169714,8.872194,10.470203,0.212117,0.212117,0.212117,0.014717,0.014717,0.014717,0.197400,0.197400,0.197400,0.0,0.0,0.0,9.892153

In [18]:
#set new_id as index
PredictionWaterLevelIn2024.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2024)))
PredictionWaterLevelIn2024.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2922,1,2024-01-01,10.023515,8.516281,11.943116,8.568583,11.487210,0.245025,0.245025,0.245025,-0.018267,-0.018267,-0.018267,0.263292,0.263292,0.263292,0.0,0.0,0.0,10.268540
2923,2,2024-01-02,10.024466,8.528324,11.969695,8.567577,11.490023,0.240279,0.240279,0.240279,-0.003003,-0.003003,-0.003003,0.243282,0.243282,0.243282,0.0,0.0,0.0,10.264745
2924,3,2024-01-03,10.025418,8.593940,12.139876,8.566572,11.492836,0.220151,0.220151,0.220151,-0.005675,-0.005675,-0.005675,0.225825,0.225825,0.225825,0.0,0.0,0.0,10.245568
2925,4,2024-01-04,10.026369,8.519031,12.082929,8.565566,11.495649,0.225952,0.225952,0.225952,0.014717,0.014717,0.014717,0.211236,0.211236,0.211236,0.0,0.0,0.0,10.252321
2926,5,2024-01-05,10.027321,8.548850,11.949721,8.564560,11.498462,0.211599,0.211599,0.211599,0.011839,0.011839,0.011839,0.199760,0.199760,0.199760,0.0,0.0,0.0,10.238919

In [19]:
#rename ds as Date
PredictionWaterLevelIn2022=PredictionWaterLevelIn2022.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2023=PredictionWaterLevelIn2023.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2024=PredictionWaterLevelIn2024.rename(columns={'ds': 'Date'})

In [20]:
PredictionWaterLevelIn2024.tail()

,New_ID,Date,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
3282,361,2024-12-26,10.366041,8.269810,13.089549,8.185240,12.507871,0.408379,0.408379,0.408379,0.014717,0.014717,0.014717,0.393662,0.393662,0.393662,0.0,0.0,0.0,10.774420
3283,362,2024-12-27,10.366993,8.335785,13.213412,8.183294,12.510796,0.379154,0.379154,0.379154,0.011839,0.011839,0.011839,0.367316,0.367316,0.367316,0.0,0.0,0.0,10.746147
3284,363,2024-12-28,10.367944,8.359072,12.970362,8.181347,12.513722,0.338203,0.338203,0.338203,-0.002935,-0.002935,-0.002935,0.341139,0.341139,0.341139,0.0,0.0,0.0,10.706148
3285,364,2024-12-29,10.368896,8.177913,13.187627,8.179399,12.516647,0.318968,0.318968,0.318968,0.003325,0.003325,0.003325,0.315643,0.315643,0.315643,0.0,0.0,0.0,10.687863
3286,365,2024-12-30,10.369847,8.320952,13.085399,8.177452,12.520193,0.273057,0.273057,0.273057,-0.018267,-0.018267,-0.018267,0.291324,0.291324,0.291324,0.0,0.0,0.0,10.642904

In [21]:
df.dtypes

Date               datetime64[ns]
Sg. Kemaman (m)           float64
dtype: object

In [22]:
#plotting from 2016 until 2020
#create and configure the figure
PlotAll = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
PlotAll.line('Date', 'Sg. Kemaman (m)',legend_label='Water Level',
               line_width=2,
              source=df)



# add hover tool
PlotAll.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Kemaman (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
PlotAll.title.text = "Water Level in Sungai Kemaman, Terengganu From 2016 to 2020"

# style the headline
PlotAll.title.text_font_size = "15px"
PlotAll.title.align = "center"
PlotAll.title.text_color = "black"


#########################################plotting by year######################################################################
#create and configure the figure
plot2020 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2019 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2018 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')


#Render the water level as step lines
plot2020.line('Date', 'Sg. Kemaman (m)',legend_label='Water Level in 2020',line_width=2,source=WaterLevelIn2020)
#mean
plot2020.line('Date', df['Sg. Kemaman (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2020)

tab1 = Panel(child=plot2020, title="2020")

plot2019.line('Date', 'Sg. Kemaman (m)',legend_label='Water Level in 2019',line_width=2,source=WaterLevelIn2019)
#mean
plot2019.line('Date', df['Sg. Kemaman (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2019)

tab2 = Panel(child=plot2019, title="2019")

plot2018.line('Date', 'Sg. Kemaman (m)',legend_label='Water Level in 2018',line_width=2,source=WaterLevelIn2018)
#mean
plot2018.line('Date', df['Sg. Kemaman (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2018)

tab3 = Panel(child=plot2018, title="2018")

tabs = Tabs(tabs=[tab1,tab2,tab3])

# add hover tool
plot2020.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Kemaman (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2019.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Kemaman (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2018.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Kemaman (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
# style the headline
plot2020.title.text = "Water Level in Sungai Kemaman, Terengganu in 2020"
plot2020.title.text_font_size = "15px"
plot2020.title.align = "center"
plot2020.title.text_color = "black"

# change headline text
# style the headline
plot2019.title.text = "Water Level in Sungai Kemaman, Terengganu in 2019"
plot2019.title.text_font_size = "15px"
plot2019.title.align = "center"
plot2019.title.text_color = "black"

# change headline text
# style the headline
plot2018.title.text = "Water Level in Sungai Kemaman, Terengganu in 2018"
plot2018.title.text_font_size = "15px"
plot2018.title.align = "center"
plot2018.title.text_color = "black"


########################################Bar chart min max#######################################################################

factors = [
    ("2016", "min"), ("2016", "max"),
    ("2017", "min"), ("2017", "max"), 
    ("2018", "min"), ("2018", "max"), 
    ("2019", "min"), ("2019", "max"), 
    ("2020", "min"), ("2020", "max"),

]

barMinMax = figure(x_range=FactorRange(*factors), plot_height=750, x_axis_label='Year', y_axis_label='Water Level (m)')

x = [ 8.26,24.57, #2016
     8.62,27.42,  #2017
     8.49,26.05,  #2018
     8.27,22.49,  #2019
    8.23,25.12]   #2020
barMinMax.vbar(x=factors, top=x, width=0.9)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [24.57, 27.42, 26.05, 22.49,25.12]
barMinMax.line(x=qs, y=aves, color="red", line_width=2,legend_label='Maximun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [8.26, 8.62, 8.49, 8.27,8.23]
barMinMax.line(x=qs, y=aves, color="blue", line_width=2,legend_label='Minimun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

barMinMax.y_range.start = 0
barMinMax.x_range.range_padding = 0.1
barMinMax.xaxis.major_label_orientation = 1
barMinMax.xgrid.grid_line_color = None

# add hover tool
barMinMax.add_tools(HoverTool(tooltips=[
           ('Sg. Kemaman (m)', '$y{(0.00)}'),   
            ]                       
         ))

# change headline text
# style the headline
barMinMax.title.text = "Minimun and Maximun Water Level in Sungai Kemaman, Terengganu"
barMinMax.title.text_font_size = "15px"
barMinMax.title.align = "center"
barMinMax.title.text_color = "black"

#div text
div1 = Paragraph(text="")
######################################future water level######################################################################
PlotAllPrediction = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')

PlotAllPrediction.line('ds','yhat',legend_label='Future Water Level Until 2024', 
                    line_width=2, source= FutureWaterLevel)

# add hover tool
PlotAllPrediction.add_tools(HoverTool(tooltips=[('date', '@ds{%F}'),
            ('Sg. Kemaman (m)', '$y')],
          formatters={'@ds': 'datetime'}))


# change headline text
PlotAllPrediction.title.text = "Future Water Level until 2024"

# style the headline
PlotAllPrediction.title.text_font_size = "15px"
PlotAllPrediction.title.align = "center"
PlotAllPrediction.title.text_color = "black"


#div text

div = Div(text="<b>Model Prediction With 0.52% Error Rate</b>")

######################################compare prediction plotting#######################################################################
multi_line_plot1 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot1.line('New_ID','yhat',legend_label='Water Level in 2022', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2022)

multi_line_plot1.line('New_ID','Sg. Kemaman (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab4 = Panel(child=multi_line_plot1, title="2020 vs 2022")

# add hover tool
multi_line_plot1.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Kemaman (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot1.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot1.title.text_font_size = "15px"
multi_line_plot1.title.align = "center"
multi_line_plot1.title.text_color = "black"

#########################################################2023

multi_line_plot2 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot2.line('New_ID','yhat',legend_label='Water Level in 2023', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2023)

multi_line_plot2.line('New_ID','Sg. Kemaman (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab5 = Panel(child=multi_line_plot2, title="2020 vs 2023")

# add hover tool
multi_line_plot2.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Kemaman (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot2.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot2.title.text_font_size = "15px"
multi_line_plot2.title.align = "center"
multi_line_plot2.title.text_color = "black"


#########################################################2024
multi_line_plot3 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot3.line('New_ID','yhat',legend_label='Water Level in 2024', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2024)

multi_line_plot3.line('New_ID','Sg. Kemaman (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab6 = Panel(child=multi_line_plot3, title="2020 vs 2024")

# add hover tool
multi_line_plot3.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Kemaman (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot3.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot3.title.text_font_size = "15px"
multi_line_plot3.title.align = "center"
multi_line_plot3.title.text_color = "black"


tabs2 = Tabs(tabs=[tab4,tab5,tab6],sizing_mode='stretch_both')

#############################################################crosshairtool########################################################
cross1 = CrosshairTool()
PlotAll.add_tools(cross1)

cross1 = CrosshairTool()
plot2020.add_tools(cross1)

cross1 = CrosshairTool()
plot2019.add_tools(cross1)

cross1 = CrosshairTool()
plot2018.add_tools(cross1)


cross1 = CrosshairTool()
PlotAllPrediction.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot1.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot2.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot3.add_tools(cross1)
#############################################################plot layout########################################################


# apply theme to current document
curdoc().theme = "light_minimal"

#p = gridplot(children = [[dabongFig], [plot2019,multi_line_plot]], sizing_mode = 'stretch_both')

l = layout([
  [PlotAll],
  [tabs],
  [div1],  
  [barMinMax],
  [div],
  [PlotAllPrediction],
  [tabs2],
], sizing_mode='stretch_both')

show(l)