In [1]:
import pandas as pd
import bokeh
from bokeh.plotting import figure, show, output_file
from bokeh.models import HoverTool,CrosshairTool, Panel, Tabs
from bokeh.layouts import gridplot
from bokeh.models import Span
from bokeh.io import curdoc
from bokeh.models import Div, RangeSlider, FactorRange, Paragraph
from bokeh.layouts import layout
#file/notebook
output_file("SungaiPahangJerantut.html")
#output_notebook()

In [2]:
df = pd.read_csv(r"C:\Users\SAIFUL\Desktop\fyp codes\Data By Station Clean\Pah Sg. Pahang Jerantut Clean Water Level.csv",index_col=[0],parse_dates=['Date'])

In [3]:
df.dtypes

Date                       datetime64[ns]
Sg. Pahang Jerantut (m)           float64
dtype: object

In [4]:
df.head()

        Date  Sg. Pahang Jerantut (m)
0 2016-01-01                    44.76
1 2016-02-01                    44.76
2 2016-03-01                    44.76
3 2016-04-01                    44.76
4 2016-05-01                    44.76

In [5]:
df.tail()

          Date  Sg. Pahang Jerantut (m)
906 2018-06-25                    44.78
907 2018-06-26                    45.08
908 2018-06-27                    45.66
909 2018-06-28                    44.29
912 2018-01-07                    43.82

In [6]:
df

          Date  Sg. Pahang Jerantut (m)
0   2016-01-01                    44.76
1   2016-02-01                    44.76
2   2016-03-01                    44.76
3   2016-04-01                    44.76
4   2016-05-01                    44.76
..         ...                      ...
906 2018-06-25                    44.78
907 2018-06-26                    45.08
908 2018-06-27                    45.66
909 2018-06-28                    44.29
912 2018-01-07                    43.82

[756 rows x 2 columns]

In [7]:
#sorting value 
df = df.sort_values(['Date'], ascending=[True])

In [8]:
#sorting from 2019 
WaterLevelIn2018 = df[(df['Date'] >= '2018-01-01') & (df['Date'] <= '2018-12-31')]
WaterLevelIn2017 = df[(df['Date'] >= '2017-01-01') & (df['Date'] <= '2017-12-31')]
WaterLevelIn2016 = df[(df['Date'] >= '2016-01-01') & (df['Date'] <= '2016-12-31')]

In [9]:
#set new index for prediction comparison
NewWaterLevelIn2017=WaterLevelIn2018
NewWaterLevelIn2017.head()

          Date  Sg. Pahang Jerantut (m)
731 2018-01-01                    48.36
762 2018-01-02                    46.22
790 2018-01-03                    43.97
821 2018-01-04                    44.35
851 2018-01-05                    43.98

In [10]:
NewWaterLevelIn2017.insert(0, 'New_ID', range(1, 1 + len(NewWaterLevelIn2017)))
NewWaterLevelIn2017.head()

     New_ID       Date  Sg. Pahang Jerantut (m)
731       1 2018-01-01                    48.36
762       2 2018-01-02                    46.22
790       3 2018-01-03                    43.97
821       4 2018-01-04                    44.35
851       5 2018-01-05                    43.98

In [11]:
#load prediction dataset
import pickle
#to load the prediction model
with open (r'C:\Users\SAIFUL\Desktop\fyp codes\Prediction Model New\WLP Sg. Pahang, Jerantut. Pahang', 'rb') as f:
  WaterLevelPrediction = pickle.load(f)

In [12]:
WaterLevelPrediction

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2016-01-01,43.590261,41.600672,45.591576,43.590261,43.590261,-0.035408,-0.035408,-0.035408,-0.016654,-0.016654,-0.016654,-0.018754,-0.018754,-0.018754,0.0,0.0,0.0,43.554853
1,2016-01-02,43.592972,41.576819,45.499664,43.592972,43.592972,-0.021095,-0.021095,-0.021095,-0.033326,-0.033326,-0.033326,0.012231,0.012231,0.012231,0.0,0.0,0.0,43.571876
2,2016-01-03,43.595682,41.664261,45.487742,43.595682,43.595682,0.057080,0.057080,0.057080,0.004576,0.004576,0.004576,0.052504,0.052504,0.052504,0.0,0.0,0.0,43.652762
3,2016-01-04,43.598393,41.765346,45.686541,43.598393,43.598393,0.126231,0.126231,0.126231,0.023877,0.023877,0.023877,0.102353,0.102353,0.102353,0.0,0.0,0.0,43.724623
4,2016-01-05,43.601103,41.667516,45.744408,43.601103,43.601103,0.163571,0.163571,0.163571,0.001724,0.001724,0.001724,0.161847,0.161847,0.161847,0.0,0.0,0.0,43.764674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2941,2024-11-30,41.915451,21.695296,62.132696,21.966276,61.589502,-0.013296,-0.013296,-0.013296,-0.033326,-0.033326,-0.033326,0.020031,0.020031,0.020031,0.0,0.0,0.0,41.902155
2942,2024-12-01,41.914389,21.773021,61.650838,21.950466,61.604333,0.015733,0.015733,0.015733,0.004576,0.004576,0.004576,0.011158,0.011158,0.011158,0.0,0.0,0.0,41.930123
2943,2024-12-02,41.913328,22.137414,61.549351,21.934656,61.619165,0.029541,0.029541,0.029541,0.023877,0.023877,0.023877,0.005663,0.005663,0.005663,0.0,0.0,0.0,41.942868
2944,2024-12-03,41.912266,21.827382,61.313973,21.918845,61.633997,0.005181,0.005181,0.005181,0.001724,0.001724,0.001724,0.003458,0.003458,0.003458,0.0,0.0,0.0,41.917447
2945,2024-12-04,41.911204,21.220861,61.868335,21.903035,61.648828,-0.027087,-0.027087,-0.027087,-0.031407,-0.031407,-0.031407,0.004320,0.004320,0.004320,0.0,0.0,0.0,41.884117

In [13]:
#sorting current year until future 
FutureWaterLevel = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]
FutureWaterLevel.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2941,2024-11-30,41.915451,21.695296,62.132696,21.966276,61.589502,-0.013296,-0.013296,-0.013296,-0.033326,-0.033326,-0.033326,0.020031,0.020031,0.020031,0.0,0.0,0.0,41.902155
2942,2024-12-01,41.914389,21.773021,61.650838,21.950466,61.604333,0.015733,0.015733,0.015733,0.004576,0.004576,0.004576,0.011158,0.011158,0.011158,0.0,0.0,0.0,41.930123
2943,2024-12-02,41.913328,22.137414,61.549351,21.934656,61.619165,0.029541,0.029541,0.029541,0.023877,0.023877,0.023877,0.005663,0.005663,0.005663,0.0,0.0,0.0,41.942868
2944,2024-12-03,41.912266,21.827382,61.313973,21.918845,61.633997,0.005181,0.005181,0.005181,0.001724,0.001724,0.001724,0.003458,0.003458,0.003458,0.0,0.0,0.0,41.917447
2945,2024-12-04,41.911204,21.220861,61.868335,21.903035,61.648828,-0.027087,-0.027087,-0.027087,-0.031407,-0.031407,-0.031407,0.004320,0.004320,0.004320,0.0,0.0,0.0,41.884117

In [14]:
FutureWaterLevel.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
1877,2022-01-01,43.045139,35.262748,51.118249,35.400271,50.981788,-0.037723,-0.037723,-0.037723,-0.033326,-0.033326,-0.033326,-0.004397,-0.004397,-0.004397,0.0,0.0,0.0,43.007416
1878,2022-01-02,43.044077,34.892229,51.358173,35.391349,50.992017,0.035760,0.035760,0.035760,0.004576,0.004576,0.004576,0.031184,0.031184,0.031184,0.0,0.0,0.0,43.079836
1879,2022-01-03,43.043015,35.090566,51.180870,35.382427,51.002246,0.100100,0.100100,0.100100,0.023877,0.023877,0.023877,0.076222,0.076222,0.076222,0.0,0.0,0.0,43.143115
1880,2022-01-04,43.041953,35.527249,51.425745,35.371025,51.012476,0.132623,0.132623,0.132623,0.001724,0.001724,0.001724,0.130899,0.130899,0.130899,0.0,0.0,0.0,43.174576
1881,2022-01-05,43.040892,35.467242,51.254175,35.358060,51.022705,0.163763,0.163763,0.163763,-0.031407,-0.031407,-0.031407,0.195170,0.195170,0.195170,0.0,0.0,0.0,43.204654

In [15]:
#sorting water level prediction by year

PredictionWaterLevelIn2022 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2022-12-31')]

PredictionWaterLevelIn2023 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2023-01-01') & (WaterLevelPrediction['ds'] <= '2023-12-31')]

PredictionWaterLevelIn2024 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2024-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]

In [16]:
PredictionWaterLevelIn2024

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2607,2024-01-01,42.270071,26.672750,57.393555,26.832585,57.592507,0.005123,0.005123,0.005123,0.023877,0.023877,0.023877,-0.018754,-0.018754,-0.018754,0.0,0.0,0.0,42.275194
2608,2024-01-02,42.269009,26.547393,58.198416,26.823873,57.604735,0.013955,0.013955,0.013955,0.001724,0.001724,0.001724,0.012231,0.012231,0.012231,0.0,0.0,0.0,42.282964
2609,2024-01-03,42.267948,26.321701,57.877200,26.815162,57.616964,0.021097,0.021097,0.021097,-0.031407,-0.031407,-0.031407,0.052504,0.052504,0.052504,0.0,0.0,0.0,42.289045
2610,2024-01-04,42.266886,25.937914,58.514296,26.806450,57.629192,0.153565,0.153565,0.153565,0.051211,0.051211,0.051211,0.102353,0.102353,0.102353,0.0,0.0,0.0,42.420450
2611,2024-01-05,42.265824,26.877538,58.262267,26.797738,57.641421,0.145193,0.145193,0.145193,-0.016654,-0.016654,-0.016654,0.161847,0.161847,0.161847,0.0,0.0,0.0,42.411017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2941,2024-11-30,41.915451,21.695296,62.132696,21.966276,61.589502,-0.013296,-0.013296,-0.013296,-0.033326,-0.033326,-0.033326,0.020031,0.020031,0.020031,0.0,0.0,0.0,41.902155
2942,2024-12-01,41.914389,21.773021,61.650838,21.950466,61.604333,0.015733,0.015733,0.015733,0.004576,0.004576,0.004576,0.011158,0.011158,0.011158,0.0,0.0,0.0,41.930123
2943,2024-12-02,41.913328,22.137414,61.549351,21.934656,61.619165,0.029541,0.029541,0.029541,0.023877,0.023877,0.023877,0.005663,0.005663,0.005663,0.0,0.0,0.0,41.942868
2944,2024-12-03,41.912266,21.827382,61.313973,21.918845,61.633997,0.005181,0.005181,0.005181,0.001724,0.001724,0.001724,0.003458,0.003458,0.003458,0.0,0.0,0.0,41.917447
2945,2024-12-04,41.911204,21.220861,61.868335,21.903035,61.648828,-0.027087,-0.027087,-0.027087,-0.031407,-0.031407,-0.031407,0.004320,0.004320,0.004320,0.0,0.0,0.0,41.884117

In [17]:
#set new_id as index
PredictionWaterLevelIn2022.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2022)))
PredictionWaterLevelIn2022.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
1877,1,2022-01-01,43.045139,35.262748,51.118249,35.400271,50.981788,-0.037723,-0.037723,-0.037723,-0.033326,-0.033326,-0.033326,-0.004397,-0.004397,-0.004397,0.0,0.0,0.0,43.007416
1878,2,2022-01-02,43.044077,34.892229,51.358173,35.391349,50.992017,0.035760,0.035760,0.035760,0.004576,0.004576,0.004576,0.031184,0.031184,0.031184,0.0,0.0,0.0,43.079836
1879,3,2022-01-03,43.043015,35.090566,51.180870,35.382427,51.002246,0.100100,0.100100,0.100100,0.023877,0.023877,0.023877,0.076222,0.076222,0.076222,0.0,0.0,0.0,43.143115
1880,4,2022-01-04,43.041953,35.527249,51.425745,35.371025,51.012476,0.132623,0.132623,0.132623,0.001724,0.001724,0.001724,0.130899,0.130899,0.130899,0.0,0.0,0.0,43.174576
1881,5,2022-01-05,43.040892,35.467242,51.254175,35.358060,51.022705,0.163763,0.163763,0.163763,-0.031407,-0.031407,-0.031407,0.195170,0.195170,0.195170,0.0,0.0,0.0,43.204654

In [18]:
#set new_id as index
PredictionWaterLevelIn2023.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2023)))
PredictionWaterLevelIn2023.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2242,1,2023-01-01,42.657605,30.973510,54.762191,31.465152,54.706290,-0.007279,-0.007279,-0.007279,0.004576,0.004576,0.004576,-0.011855,-0.011855,-0.011855,0.0,0.0,0.0,42.650325
2243,2,2023-01-02,42.656543,31.303259,54.889081,31.454059,54.715588,0.045291,0.045291,0.045291,0.023877,0.023877,0.023877,0.021414,0.021414,0.021414,0.0,0.0,0.0,42.701834
2244,3,2023-01-03,42.655481,31.069179,54.469786,31.442967,54.724887,0.065786,0.065786,0.065786,0.001724,0.001724,0.001724,0.064062,0.064062,0.064062,0.0,0.0,0.0,42.721267
2245,4,2023-01-04,42.654420,31.230639,54.510599,31.431874,54.734185,0.084917,0.084917,0.084917,-0.031407,-0.031407,-0.031407,0.116325,0.116325,0.116325,0.0,0.0,0.0,42.739337
2246,5,2023-01-05,42.653358,31.214144,54.833288,31.420782,54.743484,0.229426,0.229426,0.229426,0.051211,0.051211,0.051211,0.178214,0.178214,0.178214,0.0,0.0,0.0,42.882783

In [19]:
#set new_id as index
PredictionWaterLevelIn2024.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2024)))
PredictionWaterLevelIn2024.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2607,1,2024-01-01,42.270071,26.672750,57.393555,26.832585,57.592507,0.005123,0.005123,0.005123,0.023877,0.023877,0.023877,-0.018754,-0.018754,-0.018754,0.0,0.0,0.0,42.275194
2608,2,2024-01-02,42.269009,26.547393,58.198416,26.823873,57.604735,0.013955,0.013955,0.013955,0.001724,0.001724,0.001724,0.012231,0.012231,0.012231,0.0,0.0,0.0,42.282964
2609,3,2024-01-03,42.267948,26.321701,57.877200,26.815162,57.616964,0.021097,0.021097,0.021097,-0.031407,-0.031407,-0.031407,0.052504,0.052504,0.052504,0.0,0.0,0.0,42.289045
2610,4,2024-01-04,42.266886,25.937914,58.514296,26.806450,57.629192,0.153565,0.153565,0.153565,0.051211,0.051211,0.051211,0.102353,0.102353,0.102353,0.0,0.0,0.0,42.420450
2611,5,2024-01-05,42.265824,26.877538,58.262267,26.797738,57.641421,0.145193,0.145193,0.145193,-0.016654,-0.016654,-0.016654,0.161847,0.161847,0.161847,0.0,0.0,0.0,42.411017

In [20]:
#rename ds as Date
PredictionWaterLevelIn2022=PredictionWaterLevelIn2022.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2023=PredictionWaterLevelIn2023.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2024=PredictionWaterLevelIn2024.rename(columns={'ds': 'Date'})

In [21]:
PredictionWaterLevelIn2024.tail()

,New_ID,Date,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2941,335,2024-11-30,41.915451,21.695296,62.132696,21.966276,61.589502,-0.013296,-0.013296,-0.013296,-0.033326,-0.033326,-0.033326,0.020031,0.020031,0.020031,0.0,0.0,0.0,41.902155
2942,336,2024-12-01,41.914389,21.773021,61.650838,21.950466,61.604333,0.015733,0.015733,0.015733,0.004576,0.004576,0.004576,0.011158,0.011158,0.011158,0.0,0.0,0.0,41.930123
2943,337,2024-12-02,41.913328,22.137414,61.549351,21.934656,61.619165,0.029541,0.029541,0.029541,0.023877,0.023877,0.023877,0.005663,0.005663,0.005663,0.0,0.0,0.0,41.942868
2944,338,2024-12-03,41.912266,21.827382,61.313973,21.918845,61.633997,0.005181,0.005181,0.005181,0.001724,0.001724,0.001724,0.003458,0.003458,0.003458,0.0,0.0,0.0,41.917447
2945,339,2024-12-04,41.911204,21.220861,61.868335,21.903035,61.648828,-0.027087,-0.027087,-0.027087,-0.031407,-0.031407,-0.031407,0.004320,0.004320,0.004320,0.0,0.0,0.0,41.884117

In [22]:
df.dtypes

Date                       datetime64[ns]
Sg. Pahang Jerantut (m)           float64
dtype: object

In [23]:
#plotting from 2016 until 2020
#create and configure the figure
PlotAll = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
PlotAll.line('Date', 'Sg. Pahang Jerantut (m)',legend_label='Water Level',
               line_width=2,
              source=df)



# add hover tool
PlotAll.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Pahang Jerantut (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
PlotAll.title.text = "Water Level in Sungai Pahang, Jerantut From 2016 to 2018"

# style the headline
PlotAll.title.text_font_size = "15px"
PlotAll.title.align = "center"
PlotAll.title.text_color = "black"


#########################################plotting by year######################################################################
#create and configure the figure
plot2020 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2019 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2018 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
plot2020.line('Date', 'Sg. Pahang Jerantut (m)',legend_label='Water Level in 2018',line_width=2,source=WaterLevelIn2018)
#mean
plot2020.line('Date', df['Sg. Pahang Jerantut (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2018)

tab1 = Panel(child=plot2020, title="2018")

plot2019.line('Date', 'Sg. Pahang Jerantut (m)',legend_label='Water Level in 2017',line_width=2,source=WaterLevelIn2017)
#mean
plot2019.line('Date', df['Sg. Pahang Jerantut (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2017)

tab2 = Panel(child=plot2019, title="2017")

plot2018.line('Date', 'Sg. Pahang Jerantut (m)',legend_label='Water Level in 2016',line_width=2,source=WaterLevelIn2016)
#mean
plot2018.line('Date', df['Sg. Pahang Jerantut (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2016)

tab3 = Panel(child=plot2018, title="2016")

tabs = Tabs(tabs=[tab1,tab2,tab3])

# add hover tool
plot2020.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Pahang Jerantut (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2019.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Pahang Jerantut (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2018.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Pahang Jerantut (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
# style the headline
plot2020.title.text = "Water Level in Sungai Pahang, Jerantut in 2018"
plot2020.title.text_font_size = "15px"
plot2020.title.align = "center"
plot2020.title.text_color = "black"

# change headline text
# style the headline
plot2019.title.text = "Water Level in Sungai Pahang, Jerantut in 2017"
plot2019.title.text_font_size = "15px"
plot2019.title.align = "center"
plot2019.title.text_color = "black"

# change headline text
# style the headline
plot2018.title.text = "Water Level in Sungai Pahang, Jerantut in 2016"
plot2018.title.text_font_size = "15px"
plot2018.title.align = "center"
plot2018.title.text_color = "black"


########################################Bar chart min max#######################################################################

factors = [
    ("2016", "min"), ("2016", "max"),
    ("2017", "min"), ("2017", "max"), 
    ("2018", "min"), ("2018", "max"), 
    ("2019", "min"), ("2019", "max"), 
    ("2020", "min"), ("2020", "max"),

]

barMinMax = figure(x_range=FactorRange(*factors), plot_height=750, x_axis_label='Year', y_axis_label='Water Level (m)')

x = [ 43.41,46.69, #2016
     44.08,55.56,  #2017
     43.16,52.48,  #2018
     0.00,0.00,  #2019
    0.00,0.00]   #2020
barMinMax.vbar(x=factors, top=x, width=0.9)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [46.69, 55.56, 52.48, 0.00,0.00]
barMinMax.line(x=qs, y=aves, color="red", line_width=2,legend_label='Maximun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [43.41, 44.08, 43.16,  0.00,0.00]
barMinMax.line(x=qs, y=aves, color="blue", line_width=2,legend_label='Minimun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

barMinMax.y_range.start = 0
barMinMax.x_range.range_padding = 0.1
barMinMax.xaxis.major_label_orientation = 1
barMinMax.xgrid.grid_line_color = None

# add hover tool
barMinMax.add_tools(HoverTool(tooltips=[
           ('Sg. Pahang Jerantut (m)', '$y{(0.00)}'),   
            ]                       
         ))

# change headline text
# style the headline
barMinMax.title.text = "Minimun and Maximun Water Level in Sungai Pahang, Jerantut"
barMinMax.title.text_font_size = "15px"
barMinMax.title.align = "center"
barMinMax.title.text_color = "black"

#div text
div1 = Paragraph(text="")
######################################future water level######################################################################
PlotAllPrediction = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')

PlotAllPrediction.line('ds','yhat',legend_label='Future Water Level Until 2024', 
                    line_width=2, source= FutureWaterLevel)

# add hover tool
PlotAllPrediction.add_tools(HoverTool(tooltips=[('date', '@ds{%F}'),
            ('Sg. Pahang Jerantut (m)', '$y')],
          formatters={'@ds': 'datetime'}))


# change headline text
PlotAllPrediction.title.text = "Future Water Level until 2024"

# style the headline
PlotAllPrediction.title.text_font_size = "15px"
PlotAllPrediction.title.align = "center"
PlotAllPrediction.title.text_color = "black"


#div text

div = Div(text="<b>Model Prediction With 1.02% Error Rate</b>")

######################################compare prediction plotting#######################################################################
multi_line_plot1 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot1.line('New_ID','yhat',legend_label='Water Level in 2022', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2022)

multi_line_plot1.line('New_ID','Sg. Pahang Jerantut (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2017)

tab4 = Panel(child=multi_line_plot1, title="2018 vs 2022")

# add hover tool
multi_line_plot1.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Pahang Jerantut (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot1.title.text = "Comparisson Water Level in 2018 with Future Water Level"

# style the headline
multi_line_plot1.title.text_font_size = "15px"
multi_line_plot1.title.align = "center"
multi_line_plot1.title.text_color = "black"

#########################################################2023

multi_line_plot2 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot2.line('New_ID','yhat',legend_label='Water Level in 2023', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2023)

multi_line_plot2.line('New_ID','Sg. Pahang Jerantut (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2017)

tab5 = Panel(child=multi_line_plot2, title="2018 vs 2023")

# add hover tool
multi_line_plot2.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Pahang Jerantut (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot2.title.text = "Comparisson Water Level in 2018 with Future Water Level"

# style the headline
multi_line_plot2.title.text_font_size = "15px"
multi_line_plot2.title.align = "center"
multi_line_plot2.title.text_color = "black"


#########################################################2024
multi_line_plot3 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot3.line('New_ID','yhat',legend_label='Water Level in 2024', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2024)

multi_line_plot3.line('New_ID','Sg. Pahang Jerantut (m)',legend_label='Water Level In 2018', 
                    line_width=2, source= NewWaterLevelIn2017)

tab6 = Panel(child=multi_line_plot3, title="2018 vs 2024")

# add hover tool
multi_line_plot3.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Pahang Jerantut (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot3.title.text = "Comparisson Water Level in 2018 with Future Water Level"

# style the headline
multi_line_plot3.title.text_font_size = "15px"
multi_line_plot3.title.align = "center"
multi_line_plot3.title.text_color = "black"


tabs2 = Tabs(tabs=[tab4,tab5,tab6],sizing_mode='stretch_both')

#############################################################crosshairtool########################################################
cross1 = CrosshairTool()
PlotAll.add_tools(cross1)

cross1 = CrosshairTool()
plot2020.add_tools(cross1)

cross1 = CrosshairTool()
plot2019.add_tools(cross1)

cross1 = CrosshairTool()
plot2018.add_tools(cross1)


cross1 = CrosshairTool()
PlotAllPrediction.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot1.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot2.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot3.add_tools(cross1)
#############################################################plot layout########################################################


# apply theme to current document
curdoc().theme = "light_minimal"

l = layout([
  [PlotAll],
  [tabs],
    [div1],
  [barMinMax],
  [div],
  [PlotAllPrediction],
  [tabs2],
], sizing_mode='stretch_both')

show(l)