In [1]:
import pandas as pd
import bokeh
from bokeh.plotting import figure, show, output_file 
from bokeh.models import HoverTool,CrosshairTool, Panel, Tabs
from bokeh.layouts import gridplot
from bokeh.models import Span
from bokeh.io import curdoc
from bokeh.models import Div, RangeSlider, FactorRange, Paragraph
from bokeh.layouts import layout
#file/notebook
output_file("SungaiKusialTanahMerah.html")
#output_notebook()

In [2]:
df = pd.read_csv(r"C:\Users\SAIFUL\Desktop\fyp codes\Data By Station Clean\Kel Sg. Kusial Tanah Merah Clean Water Level.csv",index_col=[0],parse_dates=['Date'])

In [3]:
df.dtypes

Date                          datetime64[ns]
Sg. Kusial Tanah Merah (m)           float64
dtype: object

In [4]:
#sorting value 
df = df.sort_values(['Date'], ascending=[True])

In [5]:
df.head()

          Date  Sg. Kusial Tanah Merah (m)
0   2016-01-01                       11.15
31  2016-01-02                        9.76
60  2016-01-03                        9.80
91  2016-01-04                        8.93
121 2016-01-05                        8.87

In [6]:
df.tail()

           Date  Sg. Kusial Tanah Merah (m)
1822 2020-12-27                       10.40
1823 2020-12-28                       10.64
1824 2020-12-29                       10.10
1825 2020-12-30                       10.10
1826 2020-12-31                       10.10

In [7]:
#sorting by years
WaterLevelIn2020 = df[(df['Date'] >= '2020-01-01') & (df['Date'] <= '2020-12-31')]
WaterLevelIn2019 = df[(df['Date'] >= '2019-01-01') & (df['Date'] <= '2019-12-31')]
WaterLevelIn2018 = df[(df['Date'] >= '2018-01-01') & (df['Date'] <= '2018-12-31')]

In [8]:
#set new index for prediction comparison
NewWaterLevelIn2020=WaterLevelIn2020
NewWaterLevelIn2020.head()

           Date  Sg. Kusial Tanah Merah (m)
1461 2020-01-01                        8.56
1492 2020-01-02                        8.13
1521 2020-01-03                        8.22
1552 2020-01-04                        8.07
1582 2020-01-05                        8.39

In [9]:
NewWaterLevelIn2020.insert(0, 'New_ID', range(1, 1 + len(NewWaterLevelIn2020)))
NewWaterLevelIn2020.head()

      New_ID       Date  Sg. Kusial Tanah Merah (m)
1461       1 2020-01-01                        8.56
1492       2 2020-01-02                        8.13
1521       3 2020-01-03                        8.22
1552       4 2020-01-04                        8.07
1582       5 2020-01-05                        8.39

In [10]:
#load prediction dataset
import pickle
#to load the prediction model
with open (r'C:\Users\SAIFUL\Desktop\fyp codes\Prediction Model New\WLP Sg. Kusial Tanah Merah', 'rb') as f:
  WaterLevelPrediction = pickle.load(f)

In [11]:
WaterLevelPrediction

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2016-01-01,9.696071,8.285311,12.255731,9.696071,9.696071,0.529825,0.529825,0.529825,-0.003163,-0.003163,-0.003163,0.532987,0.532987,0.532987,0.0,0.0,0.0,10.225896
1,2016-01-02,9.697550,8.250699,12.255011,9.697550,9.697550,0.494032,0.494032,0.494032,0.019122,0.019122,0.019122,0.474910,0.474910,0.474910,0.0,0.0,0.0,10.191583
2,2016-01-03,9.699030,8.119004,12.137084,9.699030,9.699030,0.486070,0.486070,0.486070,0.064548,0.064548,0.064548,0.421523,0.421523,0.421523,0.0,0.0,0.0,10.185100
3,2016-01-04,9.700510,8.146182,12.045895,9.700510,9.700510,0.368671,0.368671,0.368671,-0.005345,-0.005345,-0.005345,0.374017,0.374017,0.374017,0.0,0.0,0.0,10.069181
4,2016-01-05,9.701989,7.975911,12.096213,9.701989,9.701989,0.343512,0.343512,0.343512,0.010087,0.010087,0.010087,0.333425,0.333425,0.333425,0.0,0.0,0.0,10.045501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3234,2024-12-26,12.422923,8.760760,17.880141,8.191051,16.576163,0.821362,0.821362,0.821362,-0.038040,-0.038040,-0.038040,0.859402,0.859402,0.859402,0.0,0.0,0.0,13.244285
3235,2024-12-27,12.425103,8.421630,17.843211,8.189469,16.578725,0.796749,0.796749,0.796749,-0.003163,-0.003163,-0.003163,0.799911,0.799911,0.799911,0.0,0.0,0.0,13.221851
3236,2024-12-28,12.427282,8.606224,17.826317,8.187558,16.581274,0.756679,0.756679,0.756679,0.019122,0.019122,0.019122,0.737557,0.737557,0.737557,0.0,0.0,0.0,13.183960
3237,2024-12-29,12.429461,8.520355,18.014941,8.185698,16.587965,0.738353,0.738353,0.738353,0.064548,0.064548,0.064548,0.673806,0.673806,0.673806,0.0,0.0,0.0,13.167814
3238,2024-12-30,12.431640,8.380330,17.678270,8.183838,16.595069,0.604809,0.604809,0.604809,-0.005345,-0.005345,-0.005345,0.610154,0.610154,0.610154,0.0,0.0,0.0,13.036449

In [12]:
WaterLevelPrediction.dtypes

ds                            datetime64[ns]
trend                                float64
yhat_lower                           float64
yhat_upper                           float64
trend_lower                          float64
trend_upper                          float64
additive_terms                       float64
additive_terms_lower                 float64
additive_terms_upper                 float64
weekly                               float64
weekly_lower                         float64
weekly_upper                         float64
yearly                               float64
yearly_lower                         float64
yearly_upper                         float64
multiplicative_terms                 float64
multiplicative_terms_lower           float64
multiplicative_terms_upper           float64
yhat                                 float64
dtype: object

In [13]:
#sorting current year until future 
FutureWaterLevel = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]
FutureWaterLevel.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
3234,2024-12-26,12.422923,8.760760,17.880141,8.191051,16.576163,0.821362,0.821362,0.821362,-0.038040,-0.038040,-0.038040,0.859402,0.859402,0.859402,0.0,0.0,0.0,13.244285
3235,2024-12-27,12.425103,8.421630,17.843211,8.189469,16.578725,0.796749,0.796749,0.796749,-0.003163,-0.003163,-0.003163,0.799911,0.799911,0.799911,0.0,0.0,0.0,13.221851
3236,2024-12-28,12.427282,8.606224,17.826317,8.187558,16.581274,0.756679,0.756679,0.756679,0.019122,0.019122,0.019122,0.737557,0.737557,0.737557,0.0,0.0,0.0,13.183960
3237,2024-12-29,12.429461,8.520355,18.014941,8.185698,16.587965,0.738353,0.738353,0.738353,0.064548,0.064548,0.064548,0.673806,0.673806,0.673806,0.0,0.0,0.0,13.167814
3238,2024-12-30,12.431640,8.380330,17.678270,8.183838,16.595069,0.604809,0.604809,0.604809,-0.005345,-0.005345,-0.005345,0.610154,0.610154,0.610154,0.0,0.0,0.0,13.036449

In [14]:
FutureWaterLevel.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2144,2022-01-01,10.047542,8.540267,12.784820,9.441248,10.599121,0.522564,0.522564,0.522564,0.019122,0.019122,0.019122,0.503443,0.503443,0.503443,0.0,0.0,0.0,10.570107
2145,2022-01-02,10.049721,8.569876,12.493234,9.441064,10.603898,0.512100,0.512100,0.512100,0.064548,0.064548,0.064548,0.447552,0.447552,0.447552,0.0,0.0,0.0,10.561821
2146,2022-01-03,10.051901,8.328866,12.453949,9.440879,10.608675,0.391621,0.391621,0.391621,-0.005345,-0.005345,-0.005345,0.396966,0.396966,0.396966,0.0,0.0,0.0,10.443521
2147,2022-01-04,10.054080,8.407307,12.350146,9.440695,10.613452,0.362886,0.362886,0.362886,0.010087,0.010087,0.010087,0.352799,0.352799,0.352799,0.0,0.0,0.0,10.416966
2148,2022-01-05,10.056259,8.248984,12.274786,9.440511,10.618228,0.268785,0.268785,0.268785,-0.047209,-0.047209,-0.047209,0.315993,0.315993,0.315993,0.0,0.0,0.0,10.325044

In [15]:
#sorting water level prediction by year

PredictionWaterLevelIn2022 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2022-12-31')]

PredictionWaterLevelIn2023 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2023-01-01') & (WaterLevelPrediction['ds'] <= '2023-12-31')]

PredictionWaterLevelIn2024 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2024-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]

In [16]:
PredictionWaterLevelIn2024

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2874,2024-01-01,11.638394,8.701046,15.607432,8.762308,14.355670,0.527642,0.527642,0.527642,-0.005345,-0.005345,-0.005345,0.532987,0.532987,0.532987,0.0,0.0,0.0,12.166036
2875,2024-01-02,11.640573,8.738238,15.652506,8.760243,14.359617,0.484997,0.484997,0.484997,0.010087,0.010087,0.010087,0.474910,0.474910,0.474910,0.0,0.0,0.0,12.125570
2876,2024-01-03,11.642752,8.761448,15.293185,8.758179,14.363564,0.374314,0.374314,0.374314,-0.047209,-0.047209,-0.047209,0.421523,0.421523,0.421523,0.0,0.0,0.0,12.017066
2877,2024-01-04,11.644931,8.616429,15.209415,8.756115,14.367510,0.335977,0.335977,0.335977,-0.038040,-0.038040,-0.038040,0.374017,0.374017,0.374017,0.0,0.0,0.0,11.980908
2878,2024-01-05,11.647111,8.379494,15.346397,8.754050,14.371457,0.330262,0.330262,0.330262,-0.003163,-0.003163,-0.003163,0.333425,0.333425,0.333425,0.0,0.0,0.0,11.977373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3234,2024-12-26,12.422923,8.760760,17.880141,8.191051,16.576163,0.821362,0.821362,0.821362,-0.038040,-0.038040,-0.038040,0.859402,0.859402,0.859402,0.0,0.0,0.0,13.244285
3235,2024-12-27,12.425103,8.421630,17.843211,8.189469,16.578725,0.796749,0.796749,0.796749,-0.003163,-0.003163,-0.003163,0.799911,0.799911,0.799911,0.0,0.0,0.0,13.221851
3236,2024-12-28,12.427282,8.606224,17.826317,8.187558,16.581274,0.756679,0.756679,0.756679,0.019122,0.019122,0.019122,0.737557,0.737557,0.737557,0.0,0.0,0.0,13.183960
3237,2024-12-29,12.429461,8.520355,18.014941,8.185698,16.587965,0.738353,0.738353,0.738353,0.064548,0.064548,0.064548,0.673806,0.673806,0.673806,0.0,0.0,0.0,13.167814
3238,2024-12-30,12.431640,8.380330,17.678270,8.183838,16.595069,0.604809,0.604809,0.604809,-0.005345,-0.005345,-0.005345,0.610154,0.610154,0.610154,0.0,0.0,0.0,13.036449

In [17]:
#set new_id as index
PredictionWaterLevelIn2022.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2022)))
PredictionWaterLevelIn2022.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2144,1,2022-01-01,10.047542,8.540267,12.784820,9.441248,10.599121,0.522564,0.522564,0.522564,0.019122,0.019122,0.019122,0.503443,0.503443,0.503443,0.0,0.0,0.0,10.570107
2145,2,2022-01-02,10.049721,8.569876,12.493234,9.441064,10.603898,0.512100,0.512100,0.512100,0.064548,0.064548,0.064548,0.447552,0.447552,0.447552,0.0,0.0,0.0,10.561821
2146,3,2022-01-03,10.051901,8.328866,12.453949,9.440879,10.608675,0.391621,0.391621,0.391621,-0.005345,-0.005345,-0.005345,0.396966,0.396966,0.396966,0.0,0.0,0.0,10.443521
2147,4,2022-01-04,10.054080,8.407307,12.350146,9.440695,10.613452,0.362886,0.362886,0.362886,0.010087,0.010087,0.010087,0.352799,0.352799,0.352799,0.0,0.0,0.0,10.416966
2148,5,2022-01-05,10.056259,8.248984,12.274786,9.440511,10.618228,0.268785,0.268785,0.268785,-0.047209,-0.047209,-0.047209,0.315993,0.315993,0.315993,0.0,0.0,0.0,10.325044

In [18]:
#set new_id as index
PredictionWaterLevelIn2023.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2023)))
PredictionWaterLevelIn2023.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2509,1,2023-01-01,10.842968,8.975168,14.045336,9.197385,12.391977,0.582647,0.582647,0.582647,0.064548,0.064548,0.064548,0.518099,0.518099,0.518099,0.0,0.0,0.0,11.425614
2510,2,2023-01-02,10.845147,8.786904,13.619056,9.196940,12.396394,0.455729,0.455729,0.455729,-0.005345,-0.005345,-0.005345,0.461075,0.461075,0.461075,0.0,0.0,0.0,11.300876
2511,3,2023-01-03,10.847326,8.802855,13.832765,9.196496,12.400812,0.419138,0.419138,0.419138,0.010087,0.010087,0.010087,0.409052,0.409052,0.409052,0.0,0.0,0.0,11.266465
2512,4,2023-01-04,10.849506,8.735324,13.762879,9.196053,12.405229,0.315976,0.315976,0.315976,-0.047209,-0.047209,-0.047209,0.363184,0.363184,0.363184,0.0,0.0,0.0,11.165481
2513,5,2023-01-05,10.851685,8.884798,13.630632,9.195569,12.409646,0.286421,0.286421,0.286421,-0.038040,-0.038040,-0.038040,0.324460,0.324460,0.324460,0.0,0.0,0.0,11.138105

In [19]:
#set new_id as index
PredictionWaterLevelIn2024.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2024)))
PredictionWaterLevelIn2024.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2874,1,2024-01-01,11.638394,8.701046,15.607432,8.762308,14.355670,0.527642,0.527642,0.527642,-0.005345,-0.005345,-0.005345,0.532987,0.532987,0.532987,0.0,0.0,0.0,12.166036
2875,2,2024-01-02,11.640573,8.738238,15.652506,8.760243,14.359617,0.484997,0.484997,0.484997,0.010087,0.010087,0.010087,0.474910,0.474910,0.474910,0.0,0.0,0.0,12.125570
2876,3,2024-01-03,11.642752,8.761448,15.293185,8.758179,14.363564,0.374314,0.374314,0.374314,-0.047209,-0.047209,-0.047209,0.421523,0.421523,0.421523,0.0,0.0,0.0,12.017066
2877,4,2024-01-04,11.644931,8.616429,15.209415,8.756115,14.367510,0.335977,0.335977,0.335977,-0.038040,-0.038040,-0.038040,0.374017,0.374017,0.374017,0.0,0.0,0.0,11.980908
2878,5,2024-01-05,11.647111,8.379494,15.346397,8.754050,14.371457,0.330262,0.330262,0.330262,-0.003163,-0.003163,-0.003163,0.333425,0.333425,0.333425,0.0,0.0,0.0,11.977373

In [20]:
#rename ds as Date
PredictionWaterLevelIn2022=PredictionWaterLevelIn2022.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2023=PredictionWaterLevelIn2023.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2024=PredictionWaterLevelIn2024.rename(columns={'ds': 'Date'})

In [21]:
PredictionWaterLevelIn2024.tail()

,New_ID,Date,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
3234,361,2024-12-26,12.422923,8.760760,17.880141,8.191051,16.576163,0.821362,0.821362,0.821362,-0.038040,-0.038040,-0.038040,0.859402,0.859402,0.859402,0.0,0.0,0.0,13.244285
3235,362,2024-12-27,12.425103,8.421630,17.843211,8.189469,16.578725,0.796749,0.796749,0.796749,-0.003163,-0.003163,-0.003163,0.799911,0.799911,0.799911,0.0,0.0,0.0,13.221851
3236,363,2024-12-28,12.427282,8.606224,17.826317,8.187558,16.581274,0.756679,0.756679,0.756679,0.019122,0.019122,0.019122,0.737557,0.737557,0.737557,0.0,0.0,0.0,13.183960
3237,364,2024-12-29,12.429461,8.520355,18.014941,8.185698,16.587965,0.738353,0.738353,0.738353,0.064548,0.064548,0.064548,0.673806,0.673806,0.673806,0.0,0.0,0.0,13.167814
3238,365,2024-12-30,12.431640,8.380330,17.678270,8.183838,16.595069,0.604809,0.604809,0.604809,-0.005345,-0.005345,-0.005345,0.610154,0.610154,0.610154,0.0,0.0,0.0,13.036449

In [24]:
#plotting from 2016 until 2020
#create and configure the figure
PlotAll = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
PlotAll.line('Date', 'Sg. Kusial Tanah Merah (m)',legend_label='Water Level',
               line_width=2,
              source=df)



# add hover tool
PlotAll.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Kusial Tanah Merah (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
PlotAll.title.text = "Water Level in Sungai Kusial, Tanah Merah From 2016 to 2020"

# style the headline
PlotAll.title.text_font_size = "15px"
PlotAll.title.align = "center"
PlotAll.title.text_color = "black"





#########################################plotting by years######################################################################
#create and configure the figure
plot2020 = figure(
    x_axis_type='datetime', plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2019 = figure(
    x_axis_type='datetime', plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2018 = figure(
    x_axis_type='datetime', plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')


#Render the water level as step lines
plot2020.line('Date', 'Sg. Kusial Tanah Merah (m)',legend_label='Water Level in 2020',line_width=2,source=WaterLevelIn2020)
#mean
plot2020.line('Date', df['Sg. Kusial Tanah Merah (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2020)

tab1 = Panel(child=plot2020, title="2020")

plot2019.line('Date', 'Sg. Kusial Tanah Merah (m)',legend_label='Water Level in 2019',line_width=2,source=WaterLevelIn2019)
#mean
plot2019.line('Date', df['Sg. Kusial Tanah Merah (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2019)

tab2 = Panel(child=plot2019, title="2019")

plot2018.line('Date', 'Sg. Kusial Tanah Merah (m)',legend_label='Water Level in 2018',line_width=2,source=WaterLevelIn2018)
#mean
plot2018.line('Date', df['Sg. Kusial Tanah Merah (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2018)

tab3 = Panel(child=plot2018, title="2018")

tabs = Tabs(tabs=[tab1,tab2,tab3])

# add hover tool
plot2020.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Kusial Tanah Merah (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2019.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Kusial Tanah Merah (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2018.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Kusial Tanah Merah (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
# style the headline
plot2020.title.text = "Water Level in Sungai Kusial, Tanah Merah in 2020"
plot2020.title.text_font_size = "15px"
plot2020.title.align = "center"
plot2020.title.text_color = "black"

# change headline text
# style the headline
plot2019.title.text = "Water Level in Sungai Kusial, Tanah Merah in 2019"
plot2019.title.text_font_size = "15px"
plot2019.title.align = "center"
plot2019.title.text_color = "black"

# change headline text
# style the headline
plot2018.title.text = "Water Level in Sungai Kusial, Tanah Merah in 2018"
plot2018.title.text_font_size = "15px"
plot2018.title.align = "center"
plot2018.title.text_color = "black"



########################################Bar chart min max#######################################################################

factors = [
    ("2016", "min"), ("2016", "max"),
    ("2017", "min"), ("2017", "max"), 
    ("2018", "min"), ("2018", "max"), 
    ("2019", "min"), ("2019", "max"), 
    ("2020", "min"), ("2020", "max"),

]

barMinMax = figure(x_range=FactorRange(*factors), plot_height=750, x_axis_label='Year', y_axis_label='Water Level (m)')

x = [ 8.71,14.00, #2016
     8.30,18.20,  #2017
     7.73,15.12,  #2018
     7.27,16.04,  #2019
    7.88,15.85]   #2020
barMinMax.vbar(x=factors, top=x, width=0.9)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [14.00,18.20, 15.12, 16.04, 15.85]
barMinMax.line(x=qs, y=aves, color="red", line_width=2,legend_label='Maximun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [8.71, 8.30, 7.73, 7.27,7.88]
barMinMax.line(x=qs, y=aves, color="blue", line_width=2,legend_label='Minimun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

barMinMax.y_range.start = 0
barMinMax.x_range.range_padding = 0.1
barMinMax.xaxis.major_label_orientation = 1
barMinMax.xgrid.grid_line_color = None

# add hover tool
barMinMax.add_tools(HoverTool(tooltips=[
           ('Sg. Kusial Tanah Merah (m)', '$y{(0.00)}'),   
            ]                       
         ))

# change headline text
# style the headline
barMinMax.title.text = "Minimun and Maximun Water Level in Sungai Kusial, Tanah Merah"
barMinMax.title.text_font_size = "15px"
barMinMax.title.align = "center"
barMinMax.title.text_color = "black"

#div text
div1 = Paragraph(text="")

######################################future water level######################################################################
PlotAllPrediction = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')

PlotAllPrediction.line('ds','yhat',legend_label='Future Water Level Until 2024', 
                    line_width=2, source= FutureWaterLevel)

# add hover tool
PlotAllPrediction.add_tools(HoverTool(tooltips=[('date', '@ds{%F}'),
            ('Sg. Kusial Tanah Merah (m)', '$y')],
          formatters={'@ds': 'datetime'}))


# change headline text
PlotAllPrediction.title.text = "Future Water Level until 2024"

# style the headline
PlotAllPrediction.title.text_font_size = "15px"
PlotAllPrediction.title.align = "center"
PlotAllPrediction.title.text_color = "black"


#div text

div = Div(text="<b>Model Prediction With 1.02% Error Rate</b>")

######################################compare prediction plotting#######################################################################
multi_line_plot1 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot1.line('New_ID','yhat',legend_label='Water Level in 2022', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2022)

multi_line_plot1.line('New_ID','Sg. Kusial Tanah Merah (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

multi_line_plot1.line('New_ID','yhat_upper',legend_label='Yhat Upper', 
                     color='blue',line_width=2, source= PredictionWaterLevelIn2022)

tab4 = Panel(child=multi_line_plot1, title="2020 vs 2022")

# add hover tool
multi_line_plot1.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Kusial Tanah Merah (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot1.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot1.title.text_font_size = "15px"
multi_line_plot1.title.align = "center"
multi_line_plot1.title.text_color = "black"

#########################################################2023

multi_line_plot2 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot2.line('New_ID','yhat',legend_label='Water Level in 2023', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2023)

multi_line_plot2.line('New_ID','Sg. Kusial Tanah Merah (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

multi_line_plot2.line('New_ID','yhat_upper',legend_label='Yhat Upper', 
                     color='blue',line_width=2, source= PredictionWaterLevelIn2023)

tab5 = Panel(child=multi_line_plot2, title="2020 vs 2023")

# add hover tool
multi_line_plot2.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Kusial Tanah Merah (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot2.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot2.title.text_font_size = "15px"
multi_line_plot2.title.align = "center"
multi_line_plot2.title.text_color = "black"


#########################################################2024
multi_line_plot3 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot3.line('New_ID','yhat',legend_label='Water Level in 2024', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2024)

multi_line_plot3.line('New_ID','Sg. Kusial Tanah Merah (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

multi_line_plot3.line('New_ID','yhat_upper',legend_label='Yhat Upper', 
                     color='blue',line_width=2, source= PredictionWaterLevelIn2024)

tab6 = Panel(child=multi_line_plot3, title="2020 vs 2024")

# add hover tool
multi_line_plot3.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Kusial Tanah Merah (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot3.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot3.title.text_font_size = "15px"
multi_line_plot3.title.align = "center"
multi_line_plot3.title.text_color = "black"


tabs2 = Tabs(tabs=[tab4,tab5,tab6],sizing_mode='stretch_both')

#############################################################crosshairtool########################################################
cross1 = CrosshairTool()
PlotAll.add_tools(cross1)

cross1 = CrosshairTool()
plot2020.add_tools(cross1)

cross1 = CrosshairTool()
plot2019.add_tools(cross1)

cross1 = CrosshairTool()
plot2018.add_tools(cross1)


cross1 = CrosshairTool()
PlotAllPrediction.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot1.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot2.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot3.add_tools(cross1)
#############################################################plot layout########################################################


# apply theme to current document
curdoc().theme = "light_minimal"


l = layout([
  [PlotAll],
  [tabs],
    [div1],
  [barMinMax],
  [div],
  [PlotAllPrediction],
  [tabs2],
], sizing_mode='stretch_both')

show(l)